{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "deliver_grant_funding/base.html" %}

{% block pageTitle %}
  Change grant description - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_settings" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("deliver_grant_funding.grant_details", grant_id=grant.id),
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up the grant</span>
      <h1 class="govuk-heading-l">{{ form.MAIN_HEADING }}</h1>
      <p class="govuk-body">{{ form.MAIN_DESCRIPTION }}</p>

      <form method="post" novalidate>
        {{ form.csrf_token }}

        {{
          form.description(params={
            "label": {
              "classes": "govuk-label--s"
            },
            "maxwords": form.DESCRIPTION_MAX_WORDS
          })
        }}

        {{
          form.submit(params={
            "text": "Update"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
