{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "deliver_grant_funding/base.html" %}

{% block pageTitle %}
  Change grant name - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_settings" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("deliver_grant_funding.grant_settings", grant_id=grant.id),
    })
  }}
{% endblock %}

{% block content %}
  {% set grant_name_label_html %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Set up the grant</span>
      {{ form.name.label }}
    </h1>
  {% endset %}
  <form method="post" novalidate>
    {{ form.csrf_token }}

    {{
      form.name(params={
        "label": {
          "html": grant_name_label_html,
          "isPageHeading": True
        }
      })
    }}

    {{
      form.submit(params={
          "text": "Update"
      })
    }}
  </form>
{% endblock %}
