{% from "common/macros/collections.html" import collection_question with context %}
{% from "common/macros/collections.html" import collection_before with context %}
{% extends "developers/deliver/access_grant_funding_base.html" %}

{% set page_title = runner.component.text ~ " - " ~ runner.form.title %}

{# configure the page for the base error summary #}
{# todo: probably worth just aliasing this in the render call #}
{% set form = runner.question_form %}

{% block beforeContent %}
  {{ collection_before(runner, override_back_link=None if not is_first_question_in_task_preview else url_for("deliver_grant_funding.list_task_questions", grant_id=runner.submission.grant.id, form_id=runner.form.id)) }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">{{ collection_question(runner) }}</div>
  </div>
{% endblock content %}
