{% from "common/macros/collections.html" import collection_question_with_add_another_summary_page with context %}
{% from "common/macros/collections.html" import collection_before with context %}
{% extends "developers/deliver/access_grant_funding_base.html" %}

{# set the page title #}
{% set page_title = runner.interpolate(runner.component.text if not runner.add_another_summary_context else runner.component.add_another_container.text) ~ " - " ~ runner.form.title %}

{# configure the page for the base error summary #}
{% set form = runner.question_form if not runner.add_another_summary_context else runner.add_another_summary_form %}

{% block beforeContent %}
  {{ collection_before(runner, override_back_link=None if not (is_first_question_in_task_preview and not runner.add_another_index is not none) else url_for("deliver_grant_funding.list_task_questions", grant_id=runner.submission.grant.id, form_id=runner.form.id)) }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">{{ collection_question_with_add_another_summary_page(runner) }}</div>
  </div>
{% endblock content %}
