{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "common/partials/mhclg-test-banner.html" import mhclgStopTestingBanner %}
{% from "common/macros/status.html" import status with context %}
{% from "common/macros/collections.html" import collection_tasklist with context %}
{% extends "developers/deliver/access_grant_funding_base.html" %}

{% set page_title = "Collection for " ~ runner.submission.name %}

{% set form = runner.tasklist_form %}

{% block beforeContent %}
  {% if runner.submission.is_test %}
    {{ mhclgStopTestingBanner(runner) }}
  {% endif %}
  {# the top level back behaviour is likely context specific #}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("deliver_grant_funding.list_report_sections", grant_id=runner.submission.grant.id, report_id=runner.submission.collection.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ runner.submission.name }}</h1>

      {# NOTE: Should we have this as a custom component or macro-ize it? #}
      <dl class="app-metadata govuk-!-margin-bottom-7">
        <dt class="app-metadata__key">Status:</dt>
        <dd class="app-metadata__value" data-testid="submission-status">{{ status(runner.submission.status) }}</dd>
      </dl>
    </div>
  </div>

  {{ collection_tasklist(runner) }}
{% endblock content %}
