{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% extends "platform/manage_grant_base.html" %}

{% block pageTitle %}
    Edit Grant - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_settings" %}

{% block right_side_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">{{ grant.name }}</span>
                Edit Grant Details
            </h1>
            <form method="post" novalidate>
              {{ form.csrf_token }}
              {{ form.name }}
              {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}
