{% extends "common/base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}


{% block pageTitle %}
All grants - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "grants" %}

{% block content %}
    <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">All grants</h1>
            <p class="govuk-body">
            {% trans count=grant_list | length %}
                There is 1 grant.
            {% pluralize %}
                There are {{ count }} grants.
            {% endtrans %}
            </p>

            {{ govukButton({
                "text": "Set up a new grant",
                "classes": "govuk-button--secondary",
                "href": url_for("platform.add_grant")
              }) }}

            {% for grant in grant_list %}
                <h3 class="govuk-heading-s"><a href="{{ url_for('platform.view_grant', grant_id=grant.id) }}" class="govuk-link govuk-link--no-visited-state">{{ grant.name }}</a></h3>
            {% endfor %}
         </div>
    </div>
{% endblock content %}
