SECRET_KEY=pretend_secret_key
SERVER_NAME=funding.communities.gov.localhost:8080

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_SECRET='{"username":"postgres","password":"postgres"}'  # pragma: allowlist secret

GOVUK_NOTIFY_API_KEY=<generate a `test`-scoped key from notifications.service.gov.uk - "The Funding Service">
GOVUK_NOTIFY_DISABLE=false
