ci:
  autofix_prs: false
  skip: [ "mypy", "format-frontend" ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
        language_version: python3.14
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--disable-plugin",
            "HexHighEntropyString",
            "--disable-plugin",
            "Base64HighEntropyString",
          ]
        exclude: tests/pre_award/keys/rsa256

  - repo: https://github.com/seddonym/import-linter
    rev: v2.10
    hooks:
      - id: import-linter
        language: python

  - repo: local
    hooks:
      - id: mypy
        name: Run type checks
        language: system
        types: [ python ]
        entry: uv run mypy
        pass_filenames: false
      - id: format-frontend
        name: Format frontend files with Prettier
        entry: make format-frontend
        language: node
        additional_dependencies:
          - "prettier@3.8.1"
          - "prettier-plugin-jinja-template@2.1.0"
        pass_filenames: false
