[_]
schema-version = "0.2"

[[io.buildpacks.group]]
id = "heroku/nodejs"

[[io.buildpacks.group]]
id = "heroku/python"
script = { api = "0.14", inline = "uv run playwright install --with-deps" }

[[io.buildpacks.group]]
id = "heroku/procfile"
