[_]
schema-version = "0.2"

[[io.buildpacks.group]]
id = "heroku/nodejs"

[[io.buildpacks.group]]
id = "heroku/python"

    [io.buildpacks.group.script]
    api = "0.10"
    inline = "playwright install --with-deps"

[[io.buildpacks.group]]
id = "heroku/procfile"
