{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "access_grant_funding/public_sign_up/base.html" %}

{% set page_title = "What is your full name?" %}

{% block beforeContent %}
  {{ super() }}
  {{
    govukBackLink({
      "href": back_url,
      "text": "Back"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Create an account</span>
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{
          form.full_name(params={
            "autocomplete": "name",
            "classes": "govuk-input--width-20",
            "label": {"text": form.full_name.label.text, "isPageHeading": true, "classes": "govuk-label--l"},
          })
        }}
        {{ form.submit(params={"text": submit_text}) }}
      </form>
    </div>
  </div>
{% endblock content %}
