{% extends "access_grant_funding/public_sign_up/base.html" %}

{% set page_title = "Check your eligibility - " ~ grant.name %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if collection.requires_eligibility_check %}
        <span class="govuk-caption-xl">{{ grant.name }}</span>
        <h1 class="govuk-heading-xl">Check if you're eligible to apply</h1>
      {% else %}
        <h1 class="govuk-heading-xl">{{ grant.name }}</h1>
      {% endif %}

      {% if collection.submission_period_end_date %}
        <p class="govuk-body">The deadline for applications is {{ format_date(collection.submission_period_end_date) }}.</p>
      {% endif %}

      {% if prospectus_html %}
        {{ prospectus_html }}
      {% endif %}

      {% if collection.requires_eligibility_check %}
        <p class="govuk-body">To be able to apply for {{ grant.name }}, you must meet the eligibility criteria.</p>
      {% endif %}

      <p class="govuk-body">You'll be able to access the {{ collection.type.constants.plural }} by either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>signing in with an existing account if your organisation is already registered</li>
        <li>creating a new account by registering your organisation</li>
      </ul>

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit(params={"text": "Start now", "isStartButton": true}) }}
      </form>
    </div>
  </div>
{% endblock content %}
