{% extends "common/base.html" %}

{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}

{% block pageTitle %}
    Check your email - MHCLG Funding Service
{% endblock pageTitle %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Check your email</h1>
            <p class="govuk-body">We've sent an email to {{ email_address }} with a link to sign in.</p>
            <p class="govuk-body">The link will expire after 15 minutes.</p>

            {% set detailsBody %}
            <p class="govuk-body">The email may take a few minutes to arrive.</p>
            <p class="govuk-body">Check your spam or junk folders – if it still has not arrived, you can <a href="{{ url_for('auth.sign_in') }}" class="govuk-link govuk-link--no-visited-state">request a new link</a>.</p>
            {% endset %}

            {{
              govukDetails(
                params={
                  "summaryText": "If you do not receive an email",
                  "html": detailsBody,
                }
              )
            }}
        </div>
    </div>
{% endblock content %}
