{% extends "deliver_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block pageTitle %}Deliver grant funding - {{ super() }}{% endblock pageTitle %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Deliver grant funding</h1>
      <p class="govuk-body">A connected and consistent digital service for users within Funding Service, and grant teams.</p>
      <p class="govuk-body">The service includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>grant set-up and management</li>
        <li>forms for pre-award and post-award data collection</li>
      </ul>
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit(params={"text": "Sign in", "isStartButton": true}) }}
      </form>
    </div>
  </div>
{% endblock content %}
