{% extends "deliver_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "Add a grant" %}
{% set active_item_identifier = "grants" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("deliver_grant_funding.list_grants")
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up the grant</span>
      <h1 class="govuk-heading-l">Tell us about the grant</h1>

      <p class="govuk-body">You’ll need to enter information including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Government Grants Information System (GGIS) number</li>
        <li>grant contact details</li>
      </ul>

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}
