{% extends "deliver_grant_funding/base.html" %}
{% from "deliver_grant_funding/grant_setup/macros/name_form_macro.html" import render_name_form %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block pageTitle %}
  {{ form.name.label.text }}
{% endblock pageTitle %}

{% set active_item_identifier = "grants" %}

{% block beforeContent %}
  {%
    set back_href = url_for("deliver_grant_funding.grant_setup_check_your_answers")
    if request.args.get("source") == check_your_answers_source
    else url_for("deliver_grant_funding.grant_setup_ggis")
  %}
  {{
    govukBackLink({
        "text": "Back",
        "href": back_href
    })
  }}
{% endblock beforeContent %}

{% block content %}
  {{ render_name_form(form, is_setup_flow=true) }}
{% endblock content %}
