{% extends "deliver_grant_funding/base.html" %}
{% from "deliver_grant_funding/grant_setup/macros/description_form_macro.html" import render_description_form %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block pageTitle %}
  Change grant description - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "details" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("deliver_grant_funding.grant_details", grant_id=grant.id),
    })
  }}
{% endblock %}

{% block content %}
  {{ render_description_form(form, is_setup_flow=false) }}
{% endblock %}
