{% if component.eligibility %}
  {% set eligibility = component.eligibility %}
  {% set key_html %}
    <span>Eligibility</span>
  {% endset %}
  {% set value_html %}
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('deliver_grant_funding.edit_question_eligibility', grant_id=grant.id, expression_id=eligibility.id) }}">
      <span class="govuk-visually-hidden">Change eligibility check for</span>
      {{ interpolate(eligibility.evaluatable_expression.message, with_interpolation_highlighting=True) }}
    </a>
  {% endset %}
  {%
    do rows.append({
      "key": { "html": key_html },
      "value": { "html": value_html },
    })
  %}
{% endif %}
