{% from "common/macros/submissions.html" import answers_summary_list with context %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter-from-desktop app-section-nav-container">
    <nav aria-label="{{ constants.singular | capitalize }} sections">
      <ul class="govuk-list app-section-nav-list">
        <li class="app-section-nav-list__item app-section-nav-list__item--active">
          <a class="govuk-link govuk-link--no-visited-state" href="#collection-response">{{ helper.submission.collection.type.constants.singular | capitalize }} response</a>
        </li>
        {% for form in helper.get_ordered_visible_forms() %}
          <li class="app-section-nav-list__item">
            <a class="govuk-link govuk-link--no-visited-state" href="#collection-{{ form.id }}"> {{ form.title }} </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="govuk-grid-column-three-quarters-from-desktop">
    <h2 id="collection-response" class="govuk-heading-m">{{ helper.submission.collection.type.constants.singular | capitalize }} response</h2>
    <p class="govuk-body">View all responses to the {{ helper.submission.collection.name }} by {{ helper.submission.grant_recipient.organisation.name if helper.submission.grant_recipient else helper.submission.created_by.email }}.</p>
    {% for form in helper.get_ordered_visible_forms() %}
      <h2 id="collection-{{ form.id }}" class="govuk-heading-m govuk-!-margin-top-4">{{ form.title }}</h2>
      {{ answers_summary_list(helper, form) }}
    {% endfor %}
  </div>
</div>
