{% extends "common/base.html" %}

{% block content %}

    {% if not question_dict %}
        <h1 class="govuk-heading-xl">404 - Questions Not Found</h1>
        <p class="govuk-body">The form questions you’re looking for could not be found.</p>
    {% else %}

        <h1 class="govuk-heading-xl">Form Questions</h1>

        {% for question in question_dict %}
            <div class="govuk-form-group">
                <h2 class="govuk-heading-m">{{ question.title }}</h2>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">{{ question.name }}</dd>
                    </div>

                    {% if question.hint %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Hint</dt>
                            <dd class="govuk-summary-list__value">{{ question.hint }}</dd>
                        </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Data Source</dt>
                        <dd class="govuk-summary-list__value">{{ question.data_source }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Data Type</dt>
                        <dd class="govuk-summary-list__value">{{ question.data_type }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Order</dt>
                        <dd class="govuk-summary-list__value">{{ question.order }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Form ID</dt>
                        <dd class="govuk-summary-list__value">{{ question.form_id }}</dd>
                    </div>

                    {% if question.group_id %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Group ID</dt>
                            <dd class="govuk-summary-list__value">{{ question.group_id }}</dd>
                        </div>
                    {% endif %}
                </dl>
            </div>
        {% endfor %}

        {% set last_question = question_dict[-1] %}
        <a href="{{ last_question.next_page }}" class="govuk-button">Next Page</a>

    {% endif %}

{% endblock %}
