{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% extends "deliver_grant_funding/manage_grant_base.html" %}

{% block pageTitle %}
  Settings - {{ grant.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_settings" %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ grant.name }}</span>
    Settings
  </h1>
  {{
    govukSummaryList({
          "rows": [{
              "key": {"text": "Name"},
              "value": {"text": grant.name},
              "actions": {
                  "items": [
                      {
                        "href": url_for("deliver_grant_funding.grant_change_name", grant_id=grant.id),
                        "text": "Change",
                        "visuallyHiddenText": "name"
                      }
                  ]
              }
          }]
    })
  }}
{% endblock content %}
