{% extends "common/base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block pageTitle %}
  Grants - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "grants" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Grants</h1>

      {{
        govukButton({
           "text": "Add a grant",
           "href": url_for("deliver_grant_funding.grant_setup_intro")
        })
      }}

      {% for grant in grants %}
        <h2 class="govuk-heading-s"><a href="{{ url_for('deliver_grant_funding.view_grant', grant_id=grant.id) }}" class="govuk-link govuk-link--no-visited-state">{{ grant.name }}</a></h2>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
