{% extends "deliver_grant_funding/base.html" %}

{% set cspNonce = csp_nonce() %}

{%
  set nav_items = [
      {
          "text": "Grant details",
          "key": "grant_details",
          "href": url_for("deliver_grant_funding.grant_details", grant_id=grant.id),
          "current": active_item_identifier == "details"
      },
      {
          "text": "Reports",
          "key": "reports",
          "href": url_for("deliver_grant_funding.list_reports", grant_id=grant.id),
          "current": active_item_identifier == "reports"
      },
      {
          "text": "Grant team",
          "key": "grant_users",
          "href": url_for("deliver_grant_funding.list_users_for_grant", grant_id=grant.id),
          "current": active_item_identifier == "grant_team"
      },
  ]
%}

{% set right_nav_items = [] %}

{% if authorisation_helper.is_platform_admin(current_user) %}
  {%
    do right_nav_items.append({
        "text": "See all grants",
        "href": url_for("deliver_grant_funding.list_grants"),
        "current": false
    })
  %}
  {%
    do nav_items.append({
        "text": "Developers",
        "key": "grant_developers",
        "href": url_for("developers.deliver.grant_developers", grant_id=grant.id),
        "current": active_item_identifier == "developers"
    })
  %}
{% endif %}
