{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% extends "deliver_grant_funding/grant_base.html" %}

{% set page_title = "Grant details - " ~ grant.name %}
{% set active_item_identifier = "details" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ grant.name }}</span>
        Grant details
      </h1>
      {{
        govukSummaryList({
          "rows": [
            {
              "key": {"text": "GGIS reference number"},
              "value": {"text": grant.ggis_number},
              "actions": {
                "items": [{
                  "href": url_for("deliver_grant_funding.grant_change_ggis", grant_id=grant.id),
                  "classes": "govuk-link--no-visited-state",
                  "text": "Change",
                  "visuallyHiddenText": "GGIS reference number"
                }]
              } if authorisation_helper.is_platform_admin(current_user) else {}
            },
            {
              "key": {"text": "Grant name"},
              "value": {"text": grant.name},
              "actions": {
                "items": [{
                  "href": url_for("deliver_grant_funding.grant_change_name", grant_id=grant.id),
                  "classes": "govuk-link--no-visited-state",
                  "text": "Change",
                  "visuallyHiddenText": "grant name"
                }]
              } if authorisation_helper.has_grant_role(grant.id, roles_enum.ADMIN, current_user) else {}
            },
            {
              "key": {"text": "Main purpose"},
              "value": {"text": grant.description},
              "actions": {
                "items": [{
                  "href": url_for("deliver_grant_funding.grant_change_description", grant_id=grant.id),
                  "classes": "govuk-link--no-visited-state",
                  "text": "Change",
                  "visuallyHiddenText": "main purpose"
                }]
              } if authorisation_helper.has_grant_role(grant.id, roles_enum.ADMIN, current_user) else {}
            },
            {
              "key": {"text": "Main contact"},
              "value": {"html": grant.primary_contact_name + "<br>" + grant.primary_contact_email},
              "actions": {
                "items": [{
                  "href": url_for("deliver_grant_funding.grant_change_contact", grant_id=grant.id),
                  "classes": "govuk-link--no-visited-state",
                  "text": "Change",
                  "visuallyHiddenText": "main contact"
                }]
              } if authorisation_helper.has_grant_role(grant.id, roles_enum.ADMIN, current_user) else {}
            }
          ]
        })
      }}
    </div>
  </div>
{% endblock content %}
