{% extends "deliver_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% set page_title = "Grants" %}
{% set active_item_identifier = "grants" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Grants</h1>
      {% if current_user.is_platform_admin %}
        {{
          govukButton({
            "text": "Set up a grant",
            "href": url_for("deliver_grant_funding.grant_setup_intro")
          })
        }}
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    {% if grants %}
      {% set table_rows = namespace(items=[]) %}
      {% for grant in grants %}
        {% set grant_detail_link %}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("deliver_grant_funding.view_grant", grant_id=grant.id) }}">{{ grant.name }}</a>
        {% endset %}
        {%
          set table_rows.items = table_rows.items + [
              [{"html": grant_detail_link},
               {"text": grant.ggis_number or 'Not provided'},
               {"text": grant.primary_contact_email}]
          ]
        %}
      {% endfor %}
      <div class="govuk-grid-column-full">
        {{
          govukTable({
              "captionClasses": "govuk-table__caption--m",
              "firstCellIsHeader": false,
              "head": [{"text": "Grant"}, {"text": "GGIS number"}, {"text": "Email"}],
              "rows": table_rows.items
          })
        }}
      </div>
    {% else %}
      <div class="govuk-grid-column-full">
        <p class="govuk-body">No grants available at the moment.</p>
      </div>
    {% endif %}
  </div>
{% endblock content %}
