{% extends "deliver_grant_funding/grant_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "Setup a new collection - " ~ grant.name %}
{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.deliver.grant_developers", grant_id = grant.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.grant_id }}
        {{ form.name (params={"label": {"isPageHeading": true, "classes": "govuk-label--l" }})
        }}
        {{
          form.submit(params={
              "text": "Set up collection"
          })
        }}
      </form>
    </div>
  </div>
{% endblock content %}
