{% extends "deliver_grant_funding/grant_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% set page_title = "Add a question - " ~ db_form.title %}
{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.deliver.choose_question_type", grant_id = grant.id, collection_id=collection.id, section_id=section.id, form_id=db_form.id, question_data_type=chosen_question_data_type.name, back_link="manage_section")
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add question</h1>

      {{
        govukSummaryList({
          "rows": [{
            "key": {"text": "Question type"},
            "value":{"text": chosen_question_data_type.value},
            "classes": "govuk-summary-list__row--no-border"
          }]
        })
      }}

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.text }}
        {{ form.name }}
        {{ form.hint }}

        {% if chosen_question_data_type == enum.question_type.RADIOS %}
          {{ form.data_source_items }}
        {% endif %}

        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}
