{% extends "deliver_grant_funding/grant_base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% set page_title = "Developers - " ~ grant.name %}
{% set active_item_identifier = "developers" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if delete_grant %}
        {% set banner_html %}
          <p class="govuk-body govuk-!-font-weight-bold">Are you sure you want to delete this grant?</p>
          <form method="post" novalidate>
            {{ confirm_deletion_form.csrf_token }}
            {{ confirm_deletion_form.confirm_deletion(params={"classes": "govuk-button--warning govuk-!-margin-bottom-0"}) }}
          </form>
        {% endset %}

        {{ govukNotificationBanner(params={"role": "alert", "titleText": "Warning", "classes": "app-notification-banner--destructive", "html": banner_html}) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ grant.name }}</span>
        Developers
      </h1>
      <p class="govuk-body">You can try out tech and designs that are work in progress.</p>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <form method="post" novalidate>
        {{ become_grant_team_member_form.csrf_token }}
        {{ become_grant_team_member_form.submit(params={"classes": "govuk-button--secondary"}) }}
      </form>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-top-4">Reports</h2>

      {% if not grant.reports %}
        <p class="govuk-body">There are no monitoring reports for {{ grant.name }}.</p>
      {% else %}
        {% for collection in grant.reports %}
          {% set collection_link %}
            <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.deliver.manage_collection_tasks', grant_id=grant.id, collection_id=collection.id) }}">{{ collection.name }}</a>
          {% endset %}


          {% set sections_text %}
            {% trans count=collection.sections | length %}
              {{ count }}
              section {% pluralize %}
              {{ count }}
              sections
            {% endtrans %}
          {% endset %}
          {% set submissionsText %}
            Review
            {% trans count=collection.test_submissions | length %}
              {{ count }}
              test submission {% pluralize %}
              {{ count }}
              test submissions
            {% endtrans %}
            <span class="govuk-visually-hidden">for {{ collection.name }}</span>
          {% endset %}


          {% set submissionsHtml %}
            <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("developers.deliver.list_submissions_for_collection", collection_id=collection.id, submission_mode=enum.submission_mode.TEST) }}"> {{ submissionsText }} </a>
          {% endset %}


          {% set formSectionsAndTasksText %}
            {% if collection.forms | length == 0 %}
              <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("developers.deliver.add_form", grant_id=grant.id, collection_id=collection.id, section_id=collection.sections[0].id) }}"
                >Add tasks <span class="govuk-visually-hidden">to {{ collection.name }}</span></a
              >
              to create your report
              <br />
              Tasks are groups of questions with a common theme
            {% else %}
              <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("developers.deliver.manage_collection_tasks", grant_id=grant.id, collection_id=collection.id) }}"
                >Build form <span class="govuk-visually-hidden">for {{ collection.name }}</span></a
              >
            {% endif %}
          {% endset %}

          {{
            govukSummaryList({
              "card": {
                "title": {"text": collection.name, "headingLevel": 3},
                "actions": {
                  "items": [
                    {"text": "Manage", "visuallyHiddenText": collection.title, "href": url_for("developers.deliver.manage_collection", grant_id=grant.id, collection_id=collection.id), "classes": "govuk-link--no-visited-state" },
                  ],
                },
              },
              "rows": [
                {
                  "key": {"text": "Report"},
                  "value": {"text": formSectionsAndTasksText},
                },
                {
                  "key": {"text": "Submissions"},
                  "value":{"html": submissionsHtml},
                },
                {"key": {"text": "Created by"}, "value": {"text": collection.created_by.email} },
                {"key": {"text": "Last updated"}, "value": {"text": format_date(collection.updated_at_utc)} },
              ],
            })
          }}
        {% endfor %}
      {% endif %}

      {{
        govukButton({
          "text": "Add a monitoring report" if not grant.reports else "Add another monitoring report",
          "classes": "" if not grant.reports else "govuk-button--secondary",
          "href": url_for("developers.deliver.setup_collection", grant_id = grant.id)
        })
      }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            <a class="govuk-link app-link--destructive" href="{{ url_for('developers.deliver.grant_developers', grant_id=grant.id, delete_grant='') }}">Delete this grant</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
