{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "common/macros/move-up-down-table.html" import moveUpDownTable %}
{% extends "deliver_grant_funding/grant_base.html" %}

{% set page_title = collection.name ~ " - " ~ grant.name %}
{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.deliver.manage_collection", grant_id = grant.id, collection_id=collection.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ collection.name }}</span>
        Sections
      </h1>

      {% set sections_text %}
        {% trans count=collection.sections | length %}
          {{ count }}
          section {% pluralize %}
          {{ count }}
          sections
        {% endtrans %}
      {% endset %}
      {% if not collection.sections %}
        <p class="govuk-body">This collection has no sections.</p>
      {% else %}
        <p class="govuk-body">This collection has {{ sections_text }}</p>

        {% set section_rows = [] %}
        {% set table_rows = [] %}
        {% for section in collection.sections %}
          {%
            do table_rows.append({
              "text": section.title,
              "actions":[{
                "text":"Move up",
                "href": url_for('developers.deliver.move_section', grant_id = grant.id, collection_id=collection.id, section_id = section.id, direction = 'up'),"disabled":(loop.index <= 1),
                "post": True
              }, {
                "text": "Move down",
                "href": url_for('developers.deliver.move_section', grant_id = grant.id, collection_id=collection.id, section_id = section.id, direction = 'down'),
                "disabled":(loop.index >= collection.sections | length),
                "post": True
              }, {
                "href": url_for('developers.deliver.manage_section', grant_id = grant.id, collection_id=collection.id, section_id = section.id),
                "text": "Manage",
                "post": False
              }]
            })
          %}
        {% endfor %}

        {% if collection.sections %}
          {{ moveUpDownTable(table_rows) }}
        {% endif %}
      {% endif %}

      {{
        govukButton({
        "text": "Add a section",
        "classes": "govuk-button--secondary",
        "href": url_for("developers.deliver.add_section", grant_id = grant.id, collection_id=collection.id)
        })
      }}
    </div>
  </div>
{% endblock content %}
