{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "developers/deliver/macros/dependency_banner.html" import dependency_banner %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

{# todo: ideally this just passes in what it needs but this gets us going for now #}
{% from "developers/deliver/macros/component_table.html" import component_table %}
{% extends "deliver_grant_funding/grant_base.html" %}

{% set page_title = collection.name ~ " - " ~ grant.name %}
{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.deliver.manage_collection_tasks", grant_id = grant.id, collection_id= collection.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.SUBMISSION_TESTING_COMPLETE.value]) %}
        {% if flashes %}
          {{ govukNotificationBanner(params={"titleText": "Preview complete", "text": flashes[0]}) }}
        {% endif %}
        {% set errors = None %}
      {% endwith %}

      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.DEPENDENCY_ORDER_ERROR.value]) %}
        {% if flashes %}
          {{ dependency_banner(flashes[0], grant.id, collection.id, section.id, db_form.id) }}
        {% endif %}
      {% endwith %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ section.title }}</span>
        {{ db_form.title }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit(params={"text": "Preview task", "classes": "govuk-button--secondary" if not db_form.questions else "", "disabled": db_form.questions | length == 0}) }}
      </form>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Questions</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    {% if db_form.components %}
      <p class="govuk-body">This task has {% trans count=db_form.questions | length %}{{ count }} question{% pluralize %}{{ count }} questions{% endtrans %}.</p>
      <div class="govuk-grid-column-full">{{ component_table(db_form) }}</div>
    {% else %}
      <p class="govuk-body">This task has no questions.</p>
    {% endif %}
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-button-group">
        {{
          govukButton({
              "text": "Add question",
              "classes": "govuk-button--secondary" if db_form.questions else '',
              "href": url_for("developers.deliver.choose_question_type", grant_id=grant.id, collection_id=collection.id, section_id=section.id, form_id=db_form.id),
          })
        }}

        {# for now this is only shown on the manage form page #}
        {{
          govukButton({
            "text": "Add group",
            "classes": "govuk-button--secondary",
            "href": url_for("developers.deliver.add_group", grant_id=grant.id, collection_id=collection.id, section_id=section.id, form_id=db_form.id)
          })
        }}
      </div>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Manage task</h2>
      <ul class="govuk-list govuk-list--spaced">
        <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.deliver.manage_form', grant_id=grant.id, collection_id=collection.id, section_id=section.id, form_id=db_form.id) }}">Change task name</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.deliver.manage_form', grant_id=grant.id, collection_id=collection.id, section_id=section.id, form_id=db_form.id) }}">Delete task</a></li>
      </ul>
    </div>
  </div>
{% endblock content %}
