{% extends "deliver_grant_funding/grant_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "Edit group - " ~ section.title %}
{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.deliver.edit_group", grant_id=grant.id, collection_id=collection.id, section_id=section.id, form_id=db_group.form.id, group_id=db_group.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Manage group</h1>

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.name }}
        {{ form.submit(params={"text": "Update group"}) }}
      </form>
    </div>
  </div>
{% endblock content %}
