{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "deliver_grant_funding/grant_base.html" %}

{% set page_title = collection.name ~ " - " ~ grant.name %}

{% set active_item_identifier = "developers" %}
{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.deliver.grant_developers", grant_id = grant.id),
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.SUBMISSION_TESTING_COMPLETE.value]) %}
        {% if flashes %}
          {{ govukNotificationBanner(params={"titleText": "Testing complete", "text": flashes[0]}) }}
        {% endif %}
        {% set errors = None %}
      {% endwith %}

      {% if delete_collection %}
        {% set banner_html %}
          <p class="govuk-body govuk-!-font-weight-bold">Are you sure you want to delete this collection?</p>
          <form method="post" novalidate>
            {{ confirm_deletion_form.csrf_token }}
            {{ confirm_deletion_form.confirm_deletion(params={"classes": "govuk-button--warning govuk-!-margin-bottom-0"}) }}
          </form>
        {% endset %}

        {{ govukNotificationBanner(params={"role": "alert", "titleText": "Warning", "classes": "app-notification-banner--destructive", "html": banner_html}) }}
      {% elif delete_section %}
        {% set banner_html %}
          <p class="govuk-body govuk-!-font-weight-bold">Are you sure you want to delete the “{{ delete_section }}” section?</p>
          <form method="post" novalidate>
            {{ confirm_deletion_form.csrf_token }}
            {{ confirm_deletion_form.confirm_deletion(params={"classes": "govuk-button--warning govuk-!-margin-bottom-0"}) }}
          </form>
        {% endset %}

        {{ govukNotificationBanner(params={"role": "alert", "titleText": "Warning", "classes": "app-notification-banner--destructive", "html": banner_html}) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ collection.name }}</h1>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-text-align-right">
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit(params={"text": "Test this form", "classes": "govuk-button--secondary" if not collection.sections else ""}) }}
      </form>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-5 fs-draggable-container">
      <h2 class="govuk-heading-m">Sections</h2>
      {% for section in collection.sections %}
        {% set rows=[] %}

        {% for form in section.forms %}
          {% set question_text %}
            {% trans count=form.questions | length %}
              {{ count }}
              question {% pluralize %}
              {{ count }}
              questions
            {% endtrans %}
          {% endset %}
          {% set form_link %}
            <span class="fs-flex">
              <svg width="15" height="25" viewBox="0 0 60 104" fill="none" xmlns="http://www.w3.org/2000/svg" class="govuk-!-margin-right-2 fs-draggable-handle-task">
                <path d="M31.7678 1.23223C30.7915 0.255922 29.2085 0.255922 28.2322 1.23223L12.3223 17.1421C11.346 18.1184 11.346 19.7014 12.3223 20.6777C13.2986 21.654 14.8816 21.654 15.8579 20.6777L30 6.53553L44.1421 20.6777C45.1184 21.654 46.7014 21.654 47.6777 20.6777C48.654 19.7014 48.654 18.1184 47.6777 17.1421L31.7678 1.23223ZM28.2322 102.768C29.2085 103.744 30.7915 103.744 31.7678 102.768L47.6777 86.8579C48.654 85.8816 48.654 84.2986 47.6777 83.3223C46.7014 82.346 45.1184 82.346 44.1421 83.3223L30 97.4645L15.8579 83.3223C14.8816 82.346 13.2986 82.346 12.3223 83.3223C11.346 84.2986 11.346 85.8816 12.3223 86.8579L28.2322 102.768ZM30 41L32.5 41L32.5 3L30 3L27.5 3L27.5 41L30 41ZM30 63L27.5 63L27.5 101L30 101L32.5 101L32.5 63L30 63ZM0 43.5V46H60V43.5V41H0V43.5ZM0 60.5V63H60V60.5V58H0V60.5Z" fill="#000000"/>
              </svg>
            <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.deliver.manage_form', grant_id = grant.id, collection_id=collection.id, section_id = section.id, form_id=form.id) }}">{{ form.title }}</a>
          </span>
          {% endset %}
          {% set actions = [] %}
          {% do actions.append({"text": "Rename", "visuallyHiddenText": form.title, "href": url_for("developers.deliver.edit_form", grant_id=grant.id, collection_id=collection.id, section_id=section.id, form_id=form.id), "classes": "govuk-link--no-visited-state" }) %}
          {%
            do rows.append({
                "key": {
                  "html": form_link,
                },
                "value": {
                  "text": question_text
                },
                "actions": {
                  "classes": "govuk-!-width-one-third",
                  "items": actions
                },
                "classes": "fs-draggable-item-task",
            })
          %}
        {% endfor %}

        {% set add_task_html %}
          <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="{{ url_for("developers.deliver.add_form", grant_id=grant.id, collection_id=collection.id, section_id=section.id) }}">
            {{ "Add another task" if section.forms else "Add a task" }}<span class="govuk-visually-hidden">to the “{{ section.title }}” section</span>
          </a>
        {% endset %}
        {% do rows.append({"key": {"html": add_task_html, "classes": "govuk-!-padding-top-5" if section.forms else ""}, "value": {} }) %}
        {% set actions = [] %}
        {% do actions.append({"text": "Manage", "visuallyHiddenText": section.title, "href": url_for("developers.deliver.manage_section", grant_id=grant.id, collection_id=collection.id, section_id=section.id), "classes": "govuk-link--no-visited-state" }) %}
        {% set titleText %}
          <span class="fs-flex">
            <svg width="15" height="25" viewBox="0 0 60 104" fill="none" xmlns="http://www.w3.org/2000/svg" class="govuk-!-margin-right-2 fs-draggable-handle-section">
              <path d="M31.7678 1.23223C30.7915 0.255922 29.2085 0.255922 28.2322 1.23223L12.3223 17.1421C11.346 18.1184 11.346 19.7014 12.3223 20.6777C13.2986 21.654 14.8816 21.654 15.8579 20.6777L30 6.53553L44.1421 20.6777C45.1184 21.654 46.7014 21.654 47.6777 20.6777C48.654 19.7014 48.654 18.1184 47.6777 17.1421L31.7678 1.23223ZM28.2322 102.768C29.2085 103.744 30.7915 103.744 31.7678 102.768L47.6777 86.8579C48.654 85.8816 48.654 84.2986 47.6777 83.3223C46.7014 82.346 45.1184 82.346 44.1421 83.3223L30 97.4645L15.8579 83.3223C14.8816 82.346 13.2986 82.346 12.3223 83.3223C11.346 84.2986 11.346 85.8816 12.3223 86.8579L28.2322 102.768ZM30 41L32.5 41L32.5 3L30 3L27.5 3L27.5 41L30 41ZM30 63L27.5 63L27.5 101L30 101L32.5 101L32.5 63L30 63ZM0 43.5V46H60V43.5V41H0V43.5ZM0 60.5V63H60V60.5V58H0V60.5Z" fill="#000000"/>
            </svg>
            <span>{{ section.title }}</span>
          </span>
        {% endset %}
        {{
          govukSummaryList({
            "card": {
              "title": {"html": titleText, "headingLevel": 3},
              "actions": {"items": actions },
              "classes": "fs-draggable-item",
            },
            "rows": rows,
            "classes": "app-tasklist-builder fs-draggable-container-task",
          })
        }}
      {% else %}
        <p class="govuk-body">This form has no sections.</p>
        <a class="govuk-button" href="{{ url_for('developers.deliver.add_section', grant_id = grant.id, collection_id=collection.id) }}">Add a section to the form</a>
      {% endfor %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if collection.sections %}
        <a class="govuk-button govuk-button--secondary" href="{{ url_for('developers.deliver.add_section', grant_id = grant.id, collection_id=collection.id) }}">Add another section to the form</a>
      {% endif %}
      </div>
  </div>
{% endblock content %}
