{% extends "access_grant_funding/base.html" %}

{% set page_title = "Sign in" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form {% if auto_submit %}class="app-js-hidden"{% endif %} method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit(params={"text": "Sign in"}) }}
      </form>
    </div>
  </div>
{% endblock content %}

{% block bodyEnd %}
  {% if auto_submit %}
    <script nonce="{{ csp_nonce() }}">
      document.getElementById("submit").click();
    </script>
  {% endif %}
{% endblock bodyEnd %}
