{% macro render_number_condition(form) %}
  <form method="post" novalidate>
    {{ form.csrf_token }}


    {% set value_html %}
      {{
        form.value(params={
            "classes": "govuk-input--width-10",
        })
      }}
    {% endset %}

    {{
      form.type(params={
      "fieldset": {
          "legend": {
          "text": "Only show the question if the answer is",
          "classes": "govuk-fieldset__legend--m",
          "isPageHeading": False
          },
      },
      "items": [{
          "conditional": { "html": value_html },
      }]
      })
    }}

    {{ form.submit }}
  </form>
{% endmacro %}
