<form method="post" novalidate>
  {{ form.csrf_token }}


  {% set greater_than_value_html %}
    {{ form.greater_than_value(params={"classes": "govuk-input--width-10"}) }}
    {{ form.greater_than_inclusive }}
  {% endset %}
  {% set less_than_value_html %}
    {{ form.less_than_value(params={"classes": "govuk-input--width-10"}) }}
    {{ form.less_than_inclusive }}
  {% endset %}
  {% set between_html %}
    {{ form.bottom_of_range(params={"classes": "govuk-input--width-10"}) }}
    {{ form.bottom_inclusive }}
    {{ form.top_of_range(params={"classes": "govuk-input--width-10"}) }}
    {{ form.top_inclusive }}
  {% endset %}

  {{
    form.type(params={
    "fieldset": {
        "legend": {
        "html": "The answer to the question <span class='govuk-visually-hidden'>“" ~ question.text ~ "”</span> must be",
        "classes": "govuk-fieldset__legend--m",
        "isPageHeading": False
        },
    },
    "items": [{
        "conditional": { "html": greater_than_value_html },
    },{
        "conditional": { "html": less_than_value_html },
    },{
        "conditional": { "html": between_html },
    }]
    })
  }}

  {{ form.submit }}
</form>
