{% extends "deliver_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block pageTitle %}
  Add a condition - {{ question.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.edit_question", grant_id = grant.id, collection_id=question.form.section.collection.id, section_id=question.form.section.id, form_id=question.form.id, question_id=question.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# show the collection and form which you're able to choose from as fixed values - in the future those will be changable #}
      {# the actual question you're choosing can then be selected #}
      {# TODO: should the use the summary list with change links pattern or pretend they're form values - not sure #}
      <h1 class="govuk-heading-l">Which answer should the condition check?</h1>
      <dl class="govuk-body govuk-!-margin-bottom-6">
        <dt class="govuk-body govuk-!-margin-bottom-1">Collection</dt>
        <dd class="govuk-summary-list__value">{{ question.form.section.collection.name }} (This collection)</dd>
      </dl>

      <dl class="govuk-body govuk-!-margin-bottom-6">
        <dt class="govuk-body govuk-!-margin-bottom-1">Form</dt>
        <dd class="govuk-summary-list__value">{{ question.form.title }} (This form)</dd>
      </dl>

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.question }}
        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}
