{% extends "deliver_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes %}

{% block pageTitle %}
  Add a condition - {{ question.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {# _ideally_ pressing back here would remember which question you had selected in case you want to just move one up or down in the list #}
  {# that would also line up with how the browsers "back" button would work (remembering form options) #}
  {# probably an actually valid use of an optional query string arg #}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.add_question_condition_select_question", grant_id = grant.id, question_id=question.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# note: this might be multiple pages for non-trivial things, have this broadly in mind while thinking about routes #}
      <h1 class="govuk-heading-l">What condition does the answer need to meet?</h1>

      {# todo: do we want this to show the collection and form the question belongs to as well? if we used the summary list style would it be uniform across the two pages #}
      {#       summary list with border top if we do do that #}
      {#       if we do that the question could be shown in that list and the "change" property could take you to the same place as "Back" #}
      {# EITHER the summary list or this will work - summary list doesn't seem like a lot more so will add as a follow up commit #}
      <dl class="govuk-body govuk-!-margin-bottom-6">
        <dt class="govuk-body govuk-!-margin-bottom-1">Question</dt>
        <dd class="govuk-summary-list__value">{{ depends_on_question.text }} ({{ depends_on_question.name }})</dd>
      </dl>

      {# this form/ flow will now be type specific #}
      <form method="post" novalidate>
        {# {{ form.csrf_token }}
        {{ form.submit }} #}

        {# todo: decide if we need to do "or equals to" - should that be a checkbox on the sub-form or should they be 4 separate options #}
        {# todo: do we need a does not equal #}
        {# {
          "value": "not_equals",
          "text": "Does not equal",
          "checked": True if form.condition_type.data == "not_equals" else False
        }, #}
        {# no-op #}
        {% set form = { "condition_type": {} } %}


        {% set greater_than_html %}
          {{
            govukInput({
              "name": "minimum_value",
              "label": {
                "text": "Value",
              },
              "value": "",
            })
          }}

          {# {{ govukCheckboxes({
            "items": [
              {
                "value": "",
                "text": "The answer can include the value"
              },
            ]
          }) }} #}
          {# {{ govukRadios({
            "classes": "govuk-radios--inline",
            "name": "changedName",
            "fieldset": {
              "legend": {
              "text": "The answer can include the value:",
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }} #}
        {% endset %}
        {% set less_than_html %}
          {{
            govukInput({
              "name": "maximum_value",
              "label": {
                "text": "Value",
              },
              "value": "",
            })
          }}
        {% endset %}
        {% set equals_html %}
          {{
            govukInput({
              "name": "value",
              "label": {
                "text": "Value",
              },
              "value": "",
            })
          }}
        {% endset %}

        {# For dates #}
        {# Before #}
        {# After #}
        {# Between #}

        {# For now: use the check box - ask for forgiveness later #}
        {# Up next: between should come in as a future option - for now you can add two conditions, between feels like a good pattern for future #}
        {# - between as a pattern for dates should feel like good parity #}
        {# - challenge on between is is it between inclusive etc. #}

        <p class="govuk-body">The answer must be:</p>
        {{
          govukRadios({
            "name": "type",
            "items": [
              {
                "value": "greater_than",
                "text": "More than",
                "checked": True if form.condition_type.data == "greater_than" else False,
                "conditional": {
                  "html": greater_than_html
                }
              },
              {
                "value": "greater_than",
                "text": "More than or equal to",
                "checked": True if form.condition_type.data == "greater_than" else False,
                "conditional": {
                  "html": greater_than_html
                }
              },
              {
                "value": "less_than",
                "text": "Less than",
                "checked": True if form.condition_type.data == "less_than_or_equal" else False,
                "conditional": {
                  "html": less_than_html
                }
              },
              {
                "value": "less_than",
                "text": "Less than or equal to",
                "checked": True if form.condition_type.data == "less_than_or_equal" else False,
                "conditional": {
                  "html": less_than_html
                }
              },
              {
                "value": "equals",
                "text": "Equals",
                "checked": True if form.condition_type.data == "equals" else False,
                "conditional": {
                  "html": equals_html
                }
              }
            ]
          })
        }}

        {{
          govukButton({
            "text": "Add condition"
          })
        }}
      </form>
    </div>
  </div>
{% endblock content %}
