{% extends "deliver_grant_funding/grant_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/checkboxes/macro.html" import govukCheckboxes %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "developers/_number_validation.html" import render_number_validation %}

{% block pageTitle %}
  Add validation - {{ question.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  govukBackLink({ "text": "Back", "href": url_for("developers.edit_question", grant_id=grant.id, collection_id=question.form.section.collection.id, section_id=question.form.section.id, form_id=question.form.id, question_id=question.id) })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Add validation</h1>

      {{
        govukSummaryList({
          "rows": [{
            "key": { "text": "Collection" },
            "value": { "text": question.form.section.collection.name },
          }, {
            "key": { "text": "Form" },
            "value": { "text": question.form.title },
          }, {
            "key": { "text": "Question" },
            "value": { "text": question.text },
          }],
          "classes": "app-!-border-top-line"
        })
      }}

      {% if question.data_type == QuestionDataType.INTEGER %}
        {{ render_number_validation(form, question) }}
      {% else %}
        <p class="govuk-body">This question cannot be validated.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
