{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}
{% extends "developers/access_grant_funding_base.html" %}

{% block pageTitle %}
  Check your answers - MHCLG Funding Service
{% endblock pageTitle %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": back_link,
    })
  }}
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ schema_form.name }}</span>
    <h1 class="govuk-heading-l">Check your answers</h1>

    {% set rows = [] %}
    {% for question in collection_helper.get_ordered_visible_questions_for_form(schema_form) %}
      {% set answer = collection_helper.get_answer_for_question(question.id) %}
      {% if answer is not none %}
        {% do rows.append({
            "key": {"text": question.text},
            "value": {"text": answer.root},
            "actions": {"items": [{"href": url_for('developers.ask_a_question', collection_id=collection_helper.collection.id, question_id=question.id, source=back_link_source_enum.CHECK_YOUR_ANSWERS.value), "text": "Change", "visuallyHiddenText": question.name}]},
          })
        %}
      {% else %}
        {% set valueLink %}
        <a href="{{ url_for('developers.ask_a_question', collection_id=collection_helper.collection.id, question_id=question.id, source=back_link_source_enum.CHECK_YOUR_ANSWERS.value) }}" class="govuk-link govuk-link--no-visited-state">Enter {{ question.name }}</a>
        {% endset %}
        {% do rows.append({
            "key": {"text": question.text},
            "value": {"html": valueLink}
          })
        %}
      {% endif %}
    {% endfor %}

      {{
        govukSummaryList({
          "classes": "govuk-!-margin-bottom-9",
          "rows": rows
        })
      }}

    <form method="post" novalidate>
      {{ form.csrf_token }}
      {% set all_questions_answered, _ = collection_helper.get_all_questions_answered_for_form(schema_form) %}
      {% if all_questions_answered %}
        {{ form.section_completed(params={
          "fieldset": {
            "legend": {
              "text": "Have you completed this section?",
              "isPageHeading": false,
              "classes": "govuk-fieldset__legend--m"
            }
          }
        }) }}
      {% endif %}
      {{ form.submit }}
    </form>
  </div>
{% endblock content %}
