{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/task-list/macro.html" import govukTaskList %}
{% extends "developers/access_grant_funding_base.html" %}

{% block pageTitle %}
  Collection for {{ collection_helper.name }} - MHCLG Funding Service
{% endblock pageTitle %}
{% set show_watermark = "DEVELOPER" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.manage_schema", grant_id=collection_helper.grant.id, schema_id=collection_helper.schema.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ collection_helper.name }}</span>
      Collection
    </h1>

    {# NOTE: Should we have this as a custom component or macro-ize it? #}
    <dl class="app-metadata">
      <dt class="app-metadata__key">Status:</dt>
      <dd class="app-metadata__value">{{ govukTag({"text": collection_helper.status, "classes": "govuk-tag--grey"}) }}</dd>
    </dl>

    <p class="govuk-body">None of the sections have been completed.</p>

    {% for section in collection_helper.get_ordered_visible_sections() %}
      <h2 class="govuk-heading-m">{{ section.title }}</h2>

      {% set forms = collection_helper.get_ordered_visible_forms_for_section(section) %}
      {% if not forms %}
        <p class="govuk-body">This section has no forms.</p>
      {% else %}
        {% set rows=[] %}
        {% for form in forms %}
          {%
            do rows.append({
                  "title": {
                    "text": form.title,
                  },
                "status": {
                  "tag": {
                    "text": collection_helper.get_status_for_form(form),
                    "classes": "govuk-tag govuk-tag--grey"
                  },
                },
              "href": "#"
            })
          %}
        {% endfor %}

        {{
          govukTaskList({
            "idPrefix": section.slug,
            "items": rows
          })
        }}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
