{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "deliver_grant_funding/base.html" %}

{% block pageTitle %}
  Edit section - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("developers.manage_section", grant_id=grant.id, collection_id=collection.id, section_id = section.id)
    })
  }}
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.title (params={"label": {"isPageHeading": true, "classes": "govuk-label--l" }})}}
    {{ form.submit }}
  </form>
{% endblock %}
