{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "deliver_grant_funding/manage_grant_base.html" %}

{% block pageTitle %}
  Edit collection - MHCLG Funding Service
{% endblock pageTitle %}
{% set show_watermark = "DEVELOPER" %}

{% set active_sub_navigation_tab = "grant_developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("developers.manage_schema", grant_id=grant.id, schema_id=schema.id)
    })
  }}
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.name(params={"label": {"isPageHeading": true, "classes": "govuk-label--l" }})
    }} {{ form.submit }}
  </form>
{% endblock %}
