{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "deliver_grant_funding/grant_base.html" %}

{% block pageTitle %}
  Edit collection - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("developers.manage_collection", grant_id=grant.id, collection_id=collection.id)
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.name(params={"label": {"isPageHeading": true, "classes": "govuk-label--l" } } ) }}
        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock %}
