{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% extends "deliver_grant_funding/base.html" %}

{% block pageTitle %}
  Collections - {{ grant.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "developers" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ grant.name }}</span>
        Collections
      </h1>
      <p class="govuk-body">Use preview collections to try out the tools to set up, collect and review information from users.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Collections</h2>

      {% set rows=[] %}
      {% for collection in grant.collections %}
        {%
          do rows.append([{
          "html": "<a class='govuk-link govuk-link--no-visited-state' href='" + url_for("developers.manage_collection", grant_id = grant.id, collection_id=collection.id) + "'>" + collection.name + "</a>",
          }, {"text": collection.created_by.email}, {"text": format_date(collection.created_at_utc)}])
        %}
      {% endfor %}
      {% if not grant.collections %}
        <p class="govuk-body">This grant has no collections.</p>
      {% else %}
        {{
          govukTable({
            "captionClasses": "govuk-table__caption--m",
            "head": [
              {
                "text": "Description"
              },
              {
                "text": "Added by"
              },
              {
                "text": "Added on"
              }
            ],
            "rows": rows
          })
        }}
      {% endif %}

      {{
        govukButton({
        "text": "Add collection",
        "classes": "govuk-button--secondary",
        "href": url_for("developers.setup_collection", grant_id = grant.id)
        })
      }}
    </div>
  </div>
{% endblock content %}
