{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "common/macros/status.html" import status %}
{% extends "deliver_grant_funding/manage_grant_base.html" %}

{% block pageTitle %}
  Collections - {{ schema.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": back_link,
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ schema.name }}</span>
    Collections
  </h1>
  <p class="govuk-body">View the information that has been provided by users for a schema.</p>

  {% set rows=[] %}
  {# collections is probably a list of collection helpers? to be decided #}
  {% for collection in collections %}
    {% set link_to_collection %}
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.manage_collection', collection_id=collection.id) }}">{{ collection.id | string | truncate(11) }}</a>
    {% endset %}
    {%
      do rows.append([
        {
          "html": link_to_collection,
        }, {
          "html": status(collection.status, statuses)
        }, {
          "text": collection.created_by_email
        }, {
          "text": format_date_short(collection.created_at_utc)
        }
      ])
    %}
  {% else %}
    {% set no_collections_text %}
      <span><i>No collections found for this schema</i></span>
    {% endset %}
    {%
      do rows.append([
        {
          "html": no_collections_text,
          "colspan": 4
        }
      ])
    %}
  {% endfor %}

  {{
    govukTable({
      "captionClasses": "govuk-table__caption--m",
      "head": [
        { "text": "Collection" },
        { "text": "" },
        { "text": "Started by" },
        { "text": "Created" }
      ],
      "rows": rows
    })
  }}
{% endblock content %}
