{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "common/macros/move-up-down-table.html" import moveUpDownTable %}
{% extends "deliver_grant_funding/base.html" %}

{% block pageTitle %}
  {{ section.title }}
  - {{ collection.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "developers" %}
{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.manage_collection", grant_id = grant.id, collection_id=collection.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  {% if confirm_deletion_form %}
    {% set banner_html %}
      <p class="govuk-body govuk-!-font-weight-bold">Are you sure you want to delete this section?</p>
      <form method="post" novalidate>
        {{ confirm_deletion_form.csrf_token }}
        {{ confirm_deletion_form.confirm_deletion(params={"classes": "govuk-button--warning govuk-!-margin-bottom-0"}) }}
      </form>
    {% endset %}

    {{ govukNotificationBanner(params={"role": "alert", "titleText": "Warning", "classes": "app-notification-banner--destructive", "html": banner_html}) }}
  {% endif %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ collection.name }}</span>
    {{ section.title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
      {{
        govukSummaryList({
        "rows": [{
        "key": {"text": "Title"},
        "value":{"text": section.title},
        "actions": {
        "items": [
        {
        "href": url_for("developers.edit_section", grant_id = grant.id, collection_id = collection.id, section_id = section.id),
        "text": "Change",
        "classes": "govuk-link--no-visited-state"
        }
        ]
        }
        }]
        })
      }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Forms</h2>
      {% set forms_text %}{% trans count=section.forms | length %}
        {{ count }}
        form{% pluralize %}{{ count }} forms
      {% endtrans %}{% endset %}

      {% if not section.forms %}
        <p class="govuk-body">
          This section has no forms, you can
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.add_form', grant_id = grant.id, collection_id=collection.id, section_id=section.id) }}">add a form</a>
          .
        </p>
      {% else %}
        <p class="govuk-body">This section has {{ forms_text }}.</p>
      {% endif %}

      {% set table_rows = [] %}
      {% for form in section.forms %}
        {%
          do table_rows.append({
          "text": form.title,
          "actions":[
          {"text":"Move up",
              "href":url_for('developers.move_form', grant_id = grant.id, collection_id=collection.id,
                     section_id = section.id, form_id=form.id, direction = 'up'),"disabled":(loop.index <= 1), "post":true},
                     {"href":url_for('developers.move_form', grant_id = grant.id, collection_id=collection.id,
                     section_id = section.id, form_id=form.id, direction = 'down') ,"post":true,
                  "text": "Move down","disabled":(loop.index >= section.forms | length)},
                  {"href":url_for('developers.manage_form', grant_id = grant.id, collection_id=collection.id,
                     section_id = section.id, form_id=form.id, back_link="manage_section"),
                  "text": "Manage","post":false}
          ]
                  })
        %}
      {% endfor %}

      {% if section.forms %}
        {{ moveUpDownTable(table_rows) }}
        {{
          govukButton({
          "text": "Add a form",
          "classes": "govuk-button--secondary",
          "href": url_for("developers.add_form", grant_id = grant.id, collection_id=collection.id, section_id=section.id)
          })
        }}
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><a class="govuk-link app-link--destructive" href="{{ url_for('developers.manage_section', grant_id=grant.id, collection_id=collection.id, section_id=section.id, delete='') }}">Delete this section</a></p>
    </div>
  </div>
{% endblock content %}
