{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/task-list/macro.html" import govukTaskList %}
{% extends "deliver_grant_funding/manage_grant_base.html" %}

{% block pageTitle %}
  {{ schema.name }}
  - {{ grant.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}
{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.grant_developers_schemas", grant_id = grant.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ grant.name }}</span>
    {{ schema.name }}
  </h1>
  {% set sections_text %}
    {% trans count=schema.sections | length %}
      {{ count }}
      section {% pluralize %}
      {{ count }}
      sections
    {% endtrans %}
  {% endset %}
  {% set collections_text %}
    {% trans count=schema.collections | length %}
      {{ count }} preview collection
      {% pluralize %}
      {{ count }} preview collections
    {% endtrans %}
  {% endset %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukSummaryList({
          "rows": [{
              "key": {"text": "Name"},
              "value":{"text": schema.name},
              "actions": {
                  "items": [
                      {
                        "href": url_for("developers.edit_schema", grant_id = grant.id, schema_id=schema.id),
                        "text": "Change",
                        "classes": "govuk-link govuk-link--no-visited-state"
                      }
                  ]
              }
        },{
              "key": {"text": "Sections"},
              "value":{"text": sections_text},
              "actions": {
                  "items": [
                      {
                        "href": url_for("developers.list_sections", grant_id = grant.id, schema_id=schema.id),
                        "text": "Manage",
                        "classes": "govuk-link govuk-link--no-visited-state"
                      }
                  ]
              }
        }, {
              "key": {"text": "Collections"},
              "value":{"text": collections_text },
              "actions": {
                  "items": [
                      {
                        "href": url_for("developers.list_collections_for_schema", schema_id=schema.id),
                        "text": "View",
                        "classes": "govuk-link govuk-link--no-visited-state"
                      }
                  ]
              }
        }]
        })
      }}

      {% if not schema.sections %}
        <p class="govuk-body">
          This schema has no sections, you can
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.add_section', grant_id = grant.id, schema_id=schema.id) }}">add a section</a>
          .
        </p>
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.submit(params={"classes": "govuk-button--secondary"}) }}
      </form>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-5">
      {% for section in schema.sections %}
        <h2 class="govuk-heading-m">{{ section.title }}</h2>

        {% if not section.forms %}
          <p class="govuk-body">
            This section has no forms, you can
            <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.add_form', grant_id = grant.id, schema_id=schema.id, section_id=section.id) }}">add a form</a>
            .
          </p>
        {% endif %}

        {% set rows=[] %}
        {% for form in section.forms %}
          {% set question_text %}
            {% trans count=form.questions | length %}
              {{ count }}
              question {% pluralize %}
              {{ count }}
              questions
            {% endtrans %}
          {% endset %}
          {%
            do rows.append({
                  "title": {
                    "text": form.title,
                  },
                "status": {
                  "text": question_text
                },
              "href": url_for("developers.manage_form", grant_id = grant.id, schema_id=schema.id, section_id = section.id, form_id=form.id, back_link="manage_schema")
            })
          %}
        {% endfor %}

        {{
          govukTaskList({
            "idPrefix": section.slug,
            "items": rows
          })
        }}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
