{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/task-list/macro.html" import govukTaskList %}
{% from "common/macros/move-up-down-table.html" import moveUpDownTable %}
{% extends "deliver_grant_funding/manage_grant_base.html" %}

{% block pageTitle %}
  {{ schema.name }}
  - {{ grant.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}
{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": back_link_href
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ section.title }}</span>
    {{ form.title }}
  </h1>
  {% set question_text %}
    {% trans count=form.questions | length %}
      {{ count }}
      question{% pluralize %}{{ count }} questions
    {% endtrans %}
  {% endset %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
      {{
        govukSummaryList({
          "rows": [{
              "key": {"text": "Title"},
              "value":{"text": form.title},
              "actions": {
                  "items": [
                      {
                        "href": url_for("developers.edit_form", grant_id = grant.id, schema_id = schema.id, section_id = section.id, form_id = form.id),
                        "text": "Change",
                        "classes": "govuk-link govuk-link--no-visited-state"
                      }
                  ]
              }
        }]
        })
      }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Questions</h2>

      {% set table_rows = [] %}
      {% for question in form.questions %}
        {%
          do table_rows.append({
          "text": question.text,
          "actions":[
          {"text":"Move up",
              "href":url_for('developers.move_question', grant_id = grant.id, schema_id = schema.id,
                     section_id = section.id, form_id=form.id, question_id=question.id, direction = 'up'),"disabled":(loop.index <= 1), "post":true},
                     {"href":url_for('developers.move_question', grant_id = grant.id, schema_id = schema.id,
                     section_id = section.id, form_id=form.id, question_id=question.id, direction = 'down') ,"post":true,
                  "text": "Move down","disabled":(loop.index >= form.questions | length)},
                  {"href":url_for('developers.edit_question', grant_id = grant.id, schema_id = schema.id,
                   section_id = section.id, form_id=form.id, question_id=question.id),
                  "text": "Manage","post":false}
          ]
                  })
        %}
      {% endfor %}

      {% if form.questions %}
        <p class="govuk-body">This form has {{ question_text }}.</p>
        {{ moveUpDownTable(table_rows) }}
        {{
          govukButton({
              "text": "Add question",
              "classes": "govuk-button--secondary",
              "href": url_for("developers.choose_question_type", grant_id=grant.id, schema_id=schema.id, section_id=section.id, form_id=form.id),
          })
        }}
      {% else %}
        <p class="govuk-body">
          This form has no questions, you can
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.choose_question_type', grant_id=grant.id, schema_id=schema.id, section_id=section.id, form_id=form.id) }}">add a question</a>
          .
        </p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
