${PULLPREVIEW_PUBLIC_DNS}:443 {
    basic_auth {
	fsd $2a$14$dYoMQI4n/mhjUSnKr.OYkuTvPkfv6W9zMwK7pc5AUzcal5kK7zmQq
    }

    reverse_proxy web:8080
}

sso.${PULLPREVIEW_PUBLIC_DNS}:443 {
    reverse_proxy sso:8080
}
