{% extends "common/base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block pageTitle %}
  {{ form.has_ggis.label.text }}
{% endblock pageTitle %}

{% set active_item_identifier = "grants" %}

{% block beforeContent %}
  {%
    set back_href = url_for("deliver_grant_funding.grant_setup_check_your_answers")
    if request.args.get("source") == check_your_answers_source
    else url_for("deliver_grant_funding.grant_setup_intro")
  %}
  {{
    govukBackLink({
        "text": "Back",
        "href": back_href
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up the grant</span>
      <h1 class="govuk-heading-l">Government Grants Information System (GGIS)</h1>
      <p class="govuk-body">You'll need to provide your GGIS number before you can create forms or assess grant applications.</p>

      <form method="post" novalidate>
        {{ form.csrf_token }}

        {{
          form.has_ggis(params={
            "fieldset": {
              "legend": {
                "text": form.has_ggis.label.text,
                "isPageHeading": true,
                "classes": "govuk-fieldset__legend--s",
              },
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes",
                "conditional": {
                  "html": form.ggis_number(
                    params={
                      "classes": "govuk-!-width-two-thirds",
                      "spellcheck": false,
                      "autocomplete": "off"
                    }
                  )
                }
              },
              {
                "value": "no",
                "text": "No",
                "checked": true if form.has_ggis.data == "no" else false
              }
            ]
          })
        }}

        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}
