{% if grant %}
  {% extends "deliver_grant_funding/grant_base.html" %}
  {% set active_item_identifier = "details" %}
{% else %}
  {% extends "deliver_grant_funding/base.html" %}
  {% set active_item_identifier = "grants" %}
{% endif %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = form.name.label.text %}

{% block beforeContent %}
  {% if not grant %}
    {{
      govukBackLink({
          "text": "Back",
          "href": back_link_href
      })
    }}
  {% endif %}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{% if grant %}{{ grant.name }}{% else %}Set up the grant{% endif %}</span>

      <form method="post" novalidate>
        {{ form.csrf_token }}

        {{
          form.name(params={
            "label": {
              "isPageHeading": true,
              "classes": "govuk-label--l"
            },
          })
        }}

        {{ form.submit(params={"text": "Update grant name"}) }}
      </form>
    </div>
  </div>
{% endblock content %}
