{% if grant %}
  {% extends "deliver_grant_funding/grant_base.html" %}
  {% set active_item_identifier = "details" %}
{% else %}
  {% extends "deliver_grant_funding/base.html" %}
  {% set active_item_identifier = "grants" %}
{% endif %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = form.MAIN_HEADING %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": back_link_href,
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up the grant</span>
      <h1 class="govuk-heading-l">{{ form.MAIN_HEADING }}</h1>
      <p class="govuk-body">{{ form.MAIN_DESCRIPTION }}</p>
      <form method="post" novalidate>
        {{ form.csrf_token }}

        {{
          form.has_ggis(params={
            "fieldset": {
              "legend": {
                "text": form.has_ggis.label.text,
                "classes": "govuk-fieldset__legend--s",
              },
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes",
                "conditional": {
                  "html": form.ggis_number(
                    params={
                      "classes": "govuk-!-width-two-thirds",
                      "spellcheck": false,
                      "autocomplete": "off"
                    }
                  )
                }
              },
              {
                "value": "no",
                "text": "No",
                "checked": true if form.has_ggis.data == "no" else false
              }
            ]
          })
        }}

        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock %}
