{% if grant %}
  {% extends "deliver_grant_funding/grant_base.html" %}
  {% set active_item_identifier = "details" %}
{% else %}
  {% extends "deliver_grant_funding/base.html" %}
  {% set active_item_identifier = "grants" %}
{% endif %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = form.MAIN_HEADING %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": back_link_href
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Set up the grant</span>
      <h1 class="govuk-heading-l">{{ form.MAIN_HEADING }}</h1>
      <p class="govuk-body">{{ form.MAIN_DESCRIPTION }}</p>

      <form method="post" novalidate>
        {{ form.csrf_token }}

        {{
          form.primary_contact_name(params={
              "label": {
                "classes": "govuk-label--s",
              },
          })
        }}

        {{
          form.primary_contact_email(params={
            "type": "email",
            "label": {
              "classes": "govuk-label--s",
            },
          })
        }}

        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}
