{% extends "deliver_grant_funding/grant_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set page_title = "Enter your GGIS reference number" %}
{% set active_item_identifier = "details" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": back_link_href,
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ grant.name }}</span>

      <form method="post" novalidate>
        {{ form.csrf_token }}

        {{
          form.ggis_number(params={
            "label": {
              "isPageHeading": true,
              "classes": "govuk-label--l"
            },
            "classes": "govuk-!-width-two-thirds",
            "spellcheck": false,
            "autocomplete": "off"
          })
        }}

        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock %}
