{% extends "common/base.html" %}

{% block pageTitle %}Page not found - {{ super() }}{% endblock pageTitle %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">If you typed the web address, check it is correct.</p>
      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
      <p class="govuk-body">
        If the web address is correct or you selected a link or button, contact the
        <a class="govuk-link govuk-link--no-visited-state" href="{{ service_desk_url }}" target="_blank">Funding Service support desk</a>
        .
      </p>
      <p class="govuk-body">Monday to Friday: 9am to 5pm (except public holidays).</p>
    </div>
  </div>
{% endblock content %}
