{% extends "platform/manage_grant_base.html" %}

{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}


{% block pageTitle %}
    Add a question - {{ form.title }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}

{% block beforeContent %}
    {{ govukBackLink({
        "text": "Back",
        "href": url_for("platform.add_question", grant_id = grant.id, collection_id = collection.id, section_id=section.id, form_id=form.id, step=1)
    }) }}
{% endblock beforeContent %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Add Question</h1>
            <dl class="govuk-body govuk-!-margin-bottom-6">
                <dt class="govuk-body govuk-!-margin-bottom-1">Question type</dt>
                <dd class="govuk-summary-list__value">{{ wt_form.data_type.data }}</dd>
            </dl>

            <form method="post" novalidate>
                {{ wt_form.csrf_token }}
                {{ wt_form.form_id }}
                {{ wt_form.data_type }}
                {{ wt_form.text }}
                {{ wt_form.name }}
                {{ wt_form.hint }}
                {{ wt_form.submit }}
            </form>
        </div>
    </div>
{% endblock content %}
