{% extends "platform/manage_grant_base.html" %}

{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}


{% block pageTitle %}
    Add a section - {{ collection.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}

{% block beforeContent %}
    {{ govukBackLink({
        "text": "Back",
        "href": url_for("platform.manage_collection", grant_id = grant.id, collection_id = collection.id)
    }) }}
{% endblock beforeContent %}

{% block content %}
    <div class="app-body__watermark" aria-hidden="true">Scaffolding</div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">What is the name of the section?</h1>
            <form method="post" novalidate>
                {{ form.csrf_token }}
                {{ form.collection_id }}
                {{ form.title }}
                {{ form.submit(params={
                    "text": "Add section"
                }) }}
            </form>
        </div>
    </div>
{% endblock content %}
