{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/task-list/macro.html" import govukTaskList %}

{% extends "platform/manage_grant_base.html" %}

{% block pageTitle %}
    {{ collection.name }} - {{ grant.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}
{% block beforeContent %}
    {{ govukBackLink({
        "text": "Back",
        "href": url_for("platform.grant_developers_collections", grant_id = grant.id)
    }) }}
{% endblock beforeContent %}

{% block content %}
<h1 class="govuk-heading-l">
    {{ collection.name }}
</h1>
{% set sections_text %}
{% trans count=collection.sections | length %}
    {{ count }} section
    {% pluralize %}
    {{ count }} sections
{% endtrans %}
{% endset %}
{{ govukSummaryList({
              "rows": [{
                  "key": {"text": "Name"},
                  "value":{"text": collection.name},
                  "actions": {
                      "items": [
                          {
                            "href": url_for("platform.edit_collection", grant_id = grant.id, collection_id = collection.id),
                            "text": "Change"
                          }
                      ]
                  }
            },{
                  "key": {"text": "Sections"},
                  "value":{"text": sections_text},
                  "actions": {
                      "items": [
                          {
                            "href": "#",
                            "text": "Manage"
                          }
                      ]
                  }
            }]
            }) }}
{{ govukButton({
            "text": "Add a section",
            "classes": "govuk-button--secondary",
            "href": url_for("platform.add_section", grant_id = grant.id, collection_id = collection.id)
            }) }}

{% for section in collection.sections %}

    <h2 class="govuk-heading-m">{{ section.title }}</h2>

    {% set rows=[] %}
    {% for form in section.forms %}
        {% do rows.append({
                "title": {
                  "text": form,
                },
              "status": {
                "text": "X questions"
              },
            "href": "#",
          }) %}
    {% endfor %}

    {{ govukTaskList({
        "idPrefix": section.slug,
        "items": rows
      }) }}

{% endfor %}
{% endblock content %}
