{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% extends "platform/manage_grant_base.html" %}

{% block pageTitle %}
    Edit grant - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}

{% block beforeContent %}
    {{ govukBackLink({
      "text": "Back",
      "href": url_for("platform.manage_collection", grant_id=grant.id, collection_id = collection.id)
    }) }}
{% endblock %}

{% block content %}
    <div class="fs-watermark">Developers</div>
    <h1 class="govuk-heading-l">
        Edit collection details
    </h1>
    <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.name }}
        {{ form.submit }}
    </form>
{% endblock %}
