{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% extends "platform/manage_grant_base.html" %}

{% block pageTitle %}
    {{ collection.name }} - {{ grant.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}
{% block beforeContent %}
    {{ govukBackLink({
        "text": "Back",
        "href": url_for("platform.manage_collection", grant_id = grant.id, collection_id= collection.id)
    }) }}
{% endblock beforeContent %}

{% block content %}
<h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ collection.name }}</span>
    Sections
</h1>
{% set sections_text %}
{% trans count=collection.sections | length %}
    {{ count }} section
    {% pluralize %}
    {{ count }} sections
{% endtrans %}
{% endset %}
<p class="govuk-body">This collection has {{ sections_text }}</p>


<ul class="govuk-task-list">
    {% for section in collection.sections %}
        <li class="govuk-task-list__item">
            <div class="govuk-task-list__item-title">
                {{ section.title }}
            </div>
            <div class="govuk-!-text-align-right">
                {% if loop.index > 1 %}
                    <a class="govuk-link--no-visited-state"
                       href="{{ url_for('platform.move_section', grant_id = grant.id, collection_id = collection.id,
                   section_id = section.id, direction = 'up') }}">Move up</a>
                {% else %}
                    <span class="govuk-link--no-underline govuk-!-color-grey">Move up</span>
                {% endif %}
                {% if loop.index < collection.sections | length %}
                    <a class="govuk-link--no-visited-state"
                       href="{{ url_for('platform.move_section', grant_id = grant.id, collection_id = collection.id,
                   section_id = section.id, direction = 'down') }}">Move down</a>
                {% else %}
                    <span class="govuk-link--no-underline govuk-!-color-grey">Move down</span>
                {% endif %}
                <a class="govuk-link--no-visited-state"
                   href="{{ url_for('platform.manage_section', grant_id = grant.id, collection_id = collection.id,
                   section_id = section.id) }}">Manage</a>
            </div>
        </li>
    {% endfor %}
</ul>

{{ govukButton({
            "text": "Add a section",
            "classes": "govuk-button--secondary",
            "href": url_for("platform.add_section", grant_id = grant.id, collection_id = collection.id)
            }) }}
{% endblock content %}
