<h3 class="govuk-heading-m">Links and URLs</h3>
<p>To add a link, use square brackets [ ] around the link text, and round brackets ( ) around the full URL. Make sure there are no spaces between the two sets of brackets. For example:</p>
<div class="govuk-inset-text">
  <pre class="app-context-aware-editor__markdown-example-block"><code class="app-context-aware-editor_markdown-example-block-code">[Link text](https://www.gov.uk/link-text-url)</code></pre>
</div>

<h3 class="govuk-heading-m">Headings</h3>
<p>Do not use headings to style your text in bold. This can cause issues for people using assistive technology.</p>
<h4 class="govuk-heading-s">Second-level headings</h4>
<p>To add a second-level heading (H2), use 2 hashtags followed by a space. For example:</p>
<div class="govuk-inset-text">
  <pre class="app-context-aware-editor__markdown-example-block"><code class="app-context-aware-editor__markdown-example-block-code">## This is a second-level heading</code></pre>
</div>

<h3 class="govuk-heading-m">Bulleted lists</h3>
<p>To add bullet points, start each item with * (asterisk) or - (dash). Make sure there is one space after the asterisk or dash.</p>
<p>Leave one empty line before adding the first bullet point and another after the last bullet point. For example:</p>
<div class="govuk-inset-text">
  <pre class="app-context-aware-editor__markdown-example-block"><code class="app-context-aware-editor__markdown-example-block-code">* First bullet point
* Second bullet point
* Third bullet point</code></pre>
</div>

<h3 class="govuk-heading-m">Numbered lists</h3>
<p>Use numbers for each list item, followed by a full stop. Make sure there is one space after the full stop.</p>
<p>Leave one empty line before adding the first list item and another after the last list item. For example:</p>
<div class="govuk-inset-text">
  <pre class="app-context-aware-editor__markdown-example-block"><code class="app-context-aware-editor__markdown-example-block-code">1. First item
2. Second item
3. Third item</code></pre>
</div>
