{% macro mhclgTestBanner(label) %}
  <div class="app-test-data-banner govuk-body govuk-!-margin-bottom-0">
    <div class="app-test-data-banner__tag">
      <strong>{{ label }}</strong>
    </div>
    <div class="app-test-data-banner__action">
      {% set test_submission_source = 'section' if 'test_submission_form_id' in session else 'form' %}
      <strong><a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="{{ url_for('deliver_grant_funding.list_grants') }}">Return to Deliver grant funding</a></strong>
    </div>
  </div>
{% endmacro %}

{% macro mhclgStopPreviewingBanner(runner) %}
  <div class="app-test-data-banner govuk-body govuk-!-margin-bottom-0">
    <div class="app-test-data-banner__tag">
      <strong>Form preview</strong>
    </div>
    <div class="app-test-data-banner__action">
      {% set test_submission_source = 'section' if 'test_submission_form_id' in session else 'form' %}
      <strong
        ><a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="{{ url_for('deliver_grant_funding.return_from_test_submission', collection_id=runner.submission.collection.id) }}"
          >Return to {{ test_submission_source }} builder</a
        ></strong
      >
    </div>
  </div>
{% endmacro %}
