{% extends "common/base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}

{% block pageTitle %}
  My grants - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_item_identifier = "grants" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">My grants</h1>
      <p class="govuk-body">
        {% trans count=grants | length %}
          You have access to 1 grant. {% pluralize %} You have access to {{ count }} grants.
        {% endtrans %}
      </p>

      {{
        govukButton({
           "text": "Set up a new grant",
           "classes": "govuk-button--secondary",
           "href": url_for("platform.create_grant")
        })
      }}

      {% for grant in grants %}
        <h2 class="govuk-heading-s"><a href="{{ url_for('platform.view_grant', grant_id=grant.id) }}" class="govuk-link govuk-link--no-visited-state">{{ grant.name }}</a></h2>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
