{% from "deliver_grant_funding/macros/deliver_grant_funding_collection_breadcrumb.html" import deliver_grant_funding_collection_breadcrumb %}
{% from "common/partials/mhclg-test-banner.html" import mhclgInlinePageTestDataBanner %}
{% from "common/macros/status.html" import deliverSubmissionStatusTag with context %}
{% from "common/macros/submissions.html" import answers_summary_list with context %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% extends "deliver_grant_funding/grant_base.html" %}

{% set page_title = "Submission - " ~ helper.long_collection_name %}
{% set constants = helper.submission.collection.type.constants %}
{% set active_item_identifier = constants.active_nav %}

{% block beforeContent %}
  {% if helper.is_test %}
    {{ mhclgInlinePageTestDataBanner("Test submission") }}
  {% endif %}

  {{ deliver_grant_funding_collection_breadcrumb(grant=grant, collection=helper.submission.collection, immediate_parent_breadcrumb_item={"text": "Submissions", "href": url_for("deliver_grant_funding.list_submissions", grant_id=grant.id, collection_type=helper.submission.collection.type, collection_id=helper.submission.collection.id, submission_mode=helper.submission.mode)}, this_page_breadcrumb_item={"text": helper.submission.grant_recipient.organisation.name if helper.submission.grant_recipient else helper.submission.created_by.email }) }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.SUBMISSION_REOPENED]) %}
        {% if flashes %}
          {% set submission_reopened_html %}
            <h3 class="govuk-notification-banner__heading">Submission reopened and email sent to {{ helper.submission.grant_recipient.organisation.name if helper.submission.grant_recipient else helper.submission.created_by.email }}</h3>
            <p class="govuk-body">Email sent to {{ helper.submission.grant_recipient.organisation.name ~ " users" if helper.submission.grant_recipient else helper.submission.created_by.email }} with your reason for reopening.</p>
          {% endset %}
          {{
            govukNotificationBanner({
              "html": submission_reopened_html,
              "type":"success",
              "titleText": "Success"
            })
          }}
        {% endif %}
      {% endwith %}
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.SUBMISSION_CHANGES_REQUESTED]) %}
        {% if flashes %}
          {% set changes_requested_html %}
            <h3 class="govuk-notification-banner__heading">Changes have been requested</h3>
            <p class="govuk-body">
              We've emailed {{ helper.submission.grant_recipient.organisation.name ~ " users" if helper.submission.grant_recipient else helper.submission.created_by.email }} to let them know what changes have been requested.
            </p>
          {% endset %}
          {{
            govukNotificationBanner({
              "html": changes_requested_html,
              "type": "success",
              "titleText": "Success"
            })
          }}
        {% endif %}
      {% endwith %}
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.SUBMISSION_MARKED]) %}
        {% if flashes %}
          {% set marked_html %}
            <h3 class="govuk-notification-banner__heading">{{ flashes[0] }}</h3>
          {% endset %}
          {{
            govukNotificationBanner({
              "html": marked_html,
              "type": "success",
              "titleText": "Success"
            })
          }}
        {% endif %}
      {% endwith %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ helper.submission.grant_recipient.organisation.name if helper.submission.grant_recipient else helper.submission.created_by.email }}</span>
      <div class="app-aligned-header-tag govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Submission</h1>
        {{ deliverSubmissionStatusTag(helper.deliver_status, helper.is_overdue, helper.is_requesting_changes, helper.has_requested_changes) }}
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{
        govukSummaryList({
          "rows": [
            {
              "key": { "text": "Grant" },
              "value": { "text": helper.submission.grant_recipient.grant.name }
            },
            {
              "key": { "text": helper.submission.collection.type.constants.singular | capitalize },
              "value": { "text": helper.submission.collection.name }
            },
            {
              "key": { "text": "Organisation" },
              "value": { "text": helper.submission.grant_recipient.organisation.name },
            } if helper.submission.grant_recipient else None,
            {
              "key": { "text": "Submitted by" },
              "value": { "text": helper.submitted_by.name ~ " on " ~ format_date(helper.submission.created_at_utc) },
            } if helper.is_submitted else None,
          ]
        })
      }}
    </div>
  </div>

  {% if helper.is_submitted and not helper.is_assessed %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-button-group">
          {% if helper.can_mark_submission_by_user(current_user) %}
            <a class="govuk-button" href="{{ url_for('deliver_grant_funding.mark_submission', grant_id=helper.submission.collection.grant_id, submission_id=helper.submission.id) }}">Approve or reject submission</a>
          {% endif %}
          <a class="govuk-button govuk-button--secondary" href="{{ url_for('deliver_grant_funding.request_changes', grant_id=helper.submission.collection.grant_id, submission_id=helper.submission.id) }}">Request changes</a>
          <a class="govuk-button govuk-button--secondary" href="{{ url_for('deliver_grant_funding.reopen_submission', grant_id=helper.submission.collection.grant_id, submission_id=helper.submission.id) }}">Reopen submission</a>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {# consider macro but some of the behaviour and classes might be unique #}
      {# TODO: decide if we're loading multiple pages or if we need a similar context we just load it at once #}
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">Contents</h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#timeline"> Timeline </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-response">Form response</a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="timeline">
          <h2 class="govuk-heading-m">Timeline</h2>

          <div class="moj-timeline">
            {% for event in helper.timeline_events %}
              <div class="moj-timeline__item">
                <div class="moj-timeline__header">
                  <h2 class="moj-timeline__title">{{ event.event_title }}</h2>
                  <p class="moj-timeline__byline">by {{ event.event_org }}</p>
                </div>
                <p class="moj-timeline__date">{{ event.event_by }} at {{ format_datetime(event.event_date) }}</p>

                {# TODO: move out to macro or partial #}
                {% if event.db_event %}
                  {% if event.db_event.event_type == enum.submission_event_type.SUBMISSION_CHANGES_REQUESTED %}
                    <div class="moj-timeline__description">
                      {{
                        govukDetails({
                          "summaryText": "Change request details",
                          "html": event.db_event.data.change_request_reason | govuk_markdown | safe
                        })
                      }}
                    </div>
                  {% elif event.db_event.event_type == enum.submission_event_type.SUBMISSION_REOPENED %}
                    <div class="moj-timeline__description">
                      {{
                        govukDetails({
                          "summaryText": "Reopen reason",
                          "html": event.db_event.data.reopen_reason | govuk_markdown | safe
                        })
                      }}
                    </div>
                  {% elif event.db_event.event_type in [enum.submission_event_type.GRANT_TEAM_MARKED_AS_APPROVED, enum.submission_event_type.GRANT_TEAM_MARKED_AS_REJECTED] and event.db_event.data.marked_reason %}
                    <div class="moj-timeline__description">
                      {{
                        govukDetails({
                          "summaryText": "Marking details",
                          "html": event.db_event.data.marked_reason | govuk_markdown | safe
                        })
                      }}
                    </div>
                  {% elif event.db_event.event_type == enum.submission_event_type.SUBMISSION_DECLINED_BY_CERTIFIER and event.db_event.data.declined_reason %}
                    <div class="moj-timeline__description">
                      {{
                        govukDetails({
                          "summaryText": "Decline reason",
                          "html": event.db_event.data.declined_reason | govuk_markdown | safe
                        })
                      }}
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="govuk-tabs__panel" id="form-response">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter-from-desktop app-section-nav-container">
              <nav aria-label="{{ constants.singular | capitalize }} sections">
                <ul class="govuk-list app-section-nav-list">
                  <li class="app-section-nav-list__item app-section-nav-list__item--active"><a class="govuk-link govuk-link--no-visited-state" href="#form-response">Form response</a></li>

                  {% for form in helper.get_ordered_visible_forms() %}
                    <li class="app-section-nav-list__item"><a class="govuk-link govuk-link--no-visited-state" href="#form-{{ form.id }}">{{ form.title }}</a></li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
            <div class="govuk-grid-column-three-quarters-from-desktop app-section-content-container">
              <h2 class="govuk-heading-m">{{ constants.singular | capitalize }} response</h2>
              {# TODO: maybe we can not include the type of collection if the name already ends in anything similar #}
              <p class="govuk-body">
                View the response to the {{ helper.submission.collection.name }} {{ constants.singular }} submitted by
                {{ helper.submission.grant_recipient.organisation.name if helper.submission.grant_recipient else helper.submission.created_by.email }}.
              </p>
              <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1">Download {{ constants.singular }} response as PDF</a>
              {% for form in helper.get_ordered_visible_forms() %}
                <h2 id="form-{{ form.id }}" class="govuk-heading-m govuk-!-margin-top-9">{{ form.title }}</h2>
                {{ answers_summary_list(helper, form) }}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
