{% macro render_managed_expression_form(form, label_html, submit_label, grant_id, question_id) %}
  <form method="post" novalidate>
    {{ form.csrf_token }}
    {% set items=form.get_managed_expression_radio_items() %}

    {{
      form.type(params={
      "fieldset": {
          "legend": {
          "html": label_html,
          "classes": "govuk-fieldset__legend--m",
          "isPageHeading": False
          },
      },
      "items": items
      })
    }}

    {{ form.submit(params={"text": submit_label}) }}
  </form>
{% endmacro %}
