{% extends "deliver_grant_funding/grant_base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% set type_constants = collection.type.constants %}
{% set page_title = "Can any organisation sign up and access this " ~ type_constants.singular ~ "? - " ~ collection.name %}
{% set active_item_identifier = type_constants.active_nav %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for('deliver_grant_funding.collection_settings', grant_id=grant.id, collection_type=collection.type, collection_id=collection.id),
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ collection.name }}</span>
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {% set sign_up_url = collection.public_sign_up %}
        {% set allow_public_sign_up_hint %}
          <p class="govuk-body">If allowed, users from any organisation will be able to sign up and access this {{ type_constants.singular }} from a public landing page.</p>
          <p class="govuk-body">All users will complete eligibility questions first to determine if they're eligible to apply before they can start the {{ type_constants.singular }}.</p>
        {% endset %}
        {% set allow_public_sign_up_conditional_hint %}
          <p class="govuk-body">When the {{ type_constants.singular }} is live, users will be able to access it through this link: <a class="govuk-link" href="{{ sign_up_url }}">{{ sign_up_url }}</a></p>
        {% endset %}

        {{
          form.allow_public_sign_up(params={
            "fieldset": {"legend": {"text": form.allow_public_sign_up.label.text, "isPageHeading": true, "classes": "govuk-fieldset__legend--l"} },
            "hint": {
              "html": allow_public_sign_up_hint
            },
            "items": [
              {
                "value": true,
                "text": "Yes",
                "conditional": {
                  "html": allow_public_sign_up_conditional_hint
                }
              },
              {"value": false, "text": "No"}
            ]
          })
        }}

        <div class="govuk-button-group">
          {{ form.submit }}
          <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('deliver_grant_funding.collection_settings', grant_id=grant.id, collection_type=collection.type, collection_id=collection.id) }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
