{% from "common/partials/mhclg-test-banner.html" import mhclgInlinePageTestDataBanner %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "deliver_grant_funding/grant_base.html" %}

{% set page_title = "Request changes - " ~ helper.long_collection_name %}
{% set constants = helper.submission.collection.type.constants %}
{% set active_item_identifier = constants.active_nav %}

{% block beforeContent %}
  {% if helper.is_test %}
    {{ mhclgInlinePageTestDataBanner("Test submission") }}
  {% endif %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("deliver_grant_funding.view_submission", grant_id=grant.id, submission_id=helper.submission.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ helper.submission.grant_recipient.organisation.name if helper.submission.grant_recipient else helper.submission.created_by.email }}</span>
        Request changes
      </h1>

      <p class="govuk-body">We will send an email with your reason for requesting changes to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        {% if helper.collection.requires_certification %}
          {% for user in helper.submission.grant_recipient.unique_data_providers_and_certifiers | sort(attribute="name") %}
            <li>{{ user.name }} ({{ user.email }})</li>
          {% endfor %}
        {% else %}
          {% for user in helper.submission.grant_recipient.data_providers | sort(attribute="name") %}
            <li>{{ user.name }} ({{ user.email }})</li>
          {% endfor %}
        {% endif %}
      </ul>

      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{
          form.sections_to_change(params={
            "fieldset": {
              "legend": {
                "text": form.sections_to_change.label.text,
                "classes": "govuk-fieldset__legend--m"
              }
            },
          })
        }}
        {{
          form.change_request_reason(
            params={
              "label": {
                "text": "Tell " ~ (helper.submission.grant_recipient.organisation.name if helper.submission.grant_recipient else helper.submission.created_by.email) ~ " about the changes needed",
              },
              "maxwords": form.REASON_MAX_WORDS
            }
          )
        }}

        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}
