{% extends "common/print_baseline.html" %}
{% from "common/macros/all_questions.html" import render_all_questions with context %}

{% set page_title = "View all questions - " ~ collection.name %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{ collection.grant.name }}</span>
      <h1 class="govuk-heading-xl">{{ collection.name }}</h1>

      {{ render_all_questions(collection) }}
    </div>
  </div>
{% endblock content %}
