{% extends "govuk_frontend_jinja/template.html" %}
{% from "common/partials/mhclg-header.html" import mhclgHeader %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}

{% set assetPath = vite_asset('assets') %}
{% set cspNonce = csp_nonce() %}

{% set govukRebrand = false %}

{% block pageTitle %}MHCLG Funding Service{% endblock pageTitle %}

{% block head %}
  {% if config["ASSETS_VITE_LIVE_ENABLED"] %}
    <script type="module" src="{{ vite_asset('@vite/client') }}"></script>
  {% endif %}
  <link rel="stylesheet" href="{{ vite_asset('app/assets/main.scss') }}" type="text/css" />
{% endblock head %}

{% block header %}
  {# todo: have this header read a homepageUrl variable, then any subclasses can just use super() calls #}
  {{
    mhclgHeader(
      params={
        "homepageUrl": url_for("index"),
        "assetPath": assetPath
      },
      currentUser=current_user,
    )
  }}
{% endblock header %}

{% block main %}
  <div class="govuk-width-container {% if containerClasses %}{{ containerClasses }}{% endif %}">
    {% block beforeContent %}{% endblock %}
    <div class="govuk-main-wrapper {% if mainClasses %}{{ mainClasses }}{% endif %}">
      {% block mainWrapper %}
        <main id="main-content" {% if mainLang %}lang="{{ mainLang }}"{% endif %}>
          {% block errorSummary %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                {% if form is defined and form.errors %}
                  {{ govukErrorSummary(wtforms_errors(form)) }}
                {% endif %}
              </div>
            </div>
          {% endblock errorSummary %}

          {% block content %}
          {% endblock content %}
        </main>
      {% endblock mainWrapper %}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ vite_asset('app/assets/main.js') }}"></script>
{% endblock %}

{% block footer %}
  {{
    govukFooter({
    })
  }}
{% endblock footer %}
