{% from "common/partials/mhclg-header.html" import mhclgHeader %}
{% from "govuk_frontend_jinja/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% extends "govuk_frontend_jinja/template.html" %}

{% block head %}
    {{ vite_tags() | safe }}
{% endblock head %}

{% block header %}
{{ mhclgHeader({
    "productName": "MHCLG Funding Service",
    "homepageUrl": "#",
    "classes": "govuk-header--full-width-border app-!-no-wrap",
    "navigation": [{ "text": ("Sign in"), "href": "#" }],
    "navigationClasses": "govuk-header__navigation--end"
}) }}
{% include "common/partials/navigation.html" %}
{% endblock header %}

{% block main %}
<div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">
  {% block beforeContent %}{% endblock %}
  <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {% block mainWrapper %}
      <main id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
      {% block errorSummary %}
        {% if form is defined and form.errors %}
          {{ govukErrorSummary(wtforms_errors(form)) }}
        {% endif %}
      {% endblock errorSummary%}

      {% block content %}
      {% endblock content%}
      </main>
    {% endblock mainWrapper%}
  </main>
</div>
{% endblock %}

{% block bodyEnd %}
{% endblock %}

{% block footer %}
{{ govukFooter({
    "meta": {
        "items": [
            { "href": "#", "text": ("Cookies") },
            { "href": "#", "text": ("Accessibility statement") }
        ]
    }
}) }}
{% endblock footer %}
