{% extends "admin/master.html" %}
{% import 'admin/layout.html' as layout with context %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary %}
{% from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails %}
{% from 'govuk_frontend_jinja/components/table/macro.html' import govukTable %}

{% block beforeContent %}
  {{ govukBackLink({"text": "Back", "href": url_for('collection_lifecycle.tasklist', grant_id=grant.id, collection_id=collection.id) }) }}
{% endblock %}

{% block action_panel %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ layout.messages() }}

      {% if form.errors %}
        {{ govukErrorSummary(wtforms_errors(form)) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ grant.name }} - {{ collection.name }}</span>
        Match applicant to organisation for public sign up
      </h1>
      <p class="govuk-body">Use this for a user who has contacted us because they cannot apply for this {{ collection.type.constants.singular }} on behalf of their organisation.</p>
      <p class="govuk-body">This links them to the organisation you choose for 7 days, so they can select it when they go through public sign up. It does not send them an email or set up a grant recipient.</p>
      <p class="govuk-body">If another user is already signed up for this {{ collection.type.constants.singular }} on behalf of the organisation, we should ask them to be added by that user if possible.</p>
      <p class="govuk-body">You then need to reply to the user to tell them they can now sign up for this {{ collection.type.constants.singular }} and select the organisation they asked for access to.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="{{ collection.public_sign_up }}">{{ collection.public_sign_up }}</a>
      </p>
      <p class="govuk-body">
        We should always prefer that an appropriate user signs up using their official government email address for that organisation and then adds the user requesting access. In cases that this isn't possible we can use this tool.
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set tableRows = [] %}
      {% for organisation in organisations if organisation.domains %}
        {%
          do tableRows.append([
            {"text": organisation.name},
            {"text": organisation.domains | join(", ")}
          ])
        %}
      {% endfor %}
      {% set organisationDomainsHtml %}
        <p class="govuk-body">
          Users on these email domains are matched to the organisation automatically. An organisation that is not listed has no authorised email domain, so its users can only be matched by existing access or a support invite.
        </p>
        {{
          govukTable({
            "head": [
              {"text": "Organisation"},
              {"text": "Domains"}
            ],
            "rows": tableRows
          })
        }}
      {% endset %}

      {{
        govukDetails({
          "summaryText": "Organisations with authorised email domains",
          "html": organisationDomainsHtml,
        })
      }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ form.csrf_token }}

        {{ form.organisation }}
        {{ form.full_name }}
        {{ form.email_address }}

        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock %}
