{% extends "admin/base.html" %}
{% import 'admin/layout.html' as layout with context %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/task-list/macro.html" import govukTaskList %}
{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% block beforeContent %}
  {% if grant.reports|length == 1 %}
    {{ govukBackLink({"text": "Back", "href": url_for('reporting_lifecycle.index') }) }}
  {% else %}
    {{ govukBackLink({"text": "Back", "href": url_for('reporting_lifecycle.select_report', grant_id=grant.id) }) }}
  {% endif %}
{% endblock %}

{% block action_panel %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ layout.messages() }}

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ grant.name }} - {{ collection.name }}</span>
        Reporting lifecycle
      </h1>

      <p class="govuk-body">Prepare for a monitoring report to go live by completing these tasks.</p>

      {% set rows=[] %}
      {%
        do rows.append({
          "title": {"text": "Set up organisations", "classes": "govuk-link--no-visited-state"},
          "status": {"html": govukTag({"text": organisation_count ~ (" organisation" if organisation_count == 1 else " organisations"), "classes": "govuk-tag--blue"})},
          "href": url_for('reporting_lifecycle.set_up_organisations', grant_id=grant.id, collection_id=collection.id),
        })
      %}

      {% if grant.status == enum.grant_status.DRAFT %}
        {% set status_tag = govukTag({"text": "To do", "classes": "govuk-tag--grey"}) %}
        {% set link_href = url_for('reporting_lifecycle.make_live', grant_id=grant.id, collection_id=collection.id) %}
      {% else %}
        {% set status_tag = govukTag({"text": "Completed", "classes": "govuk-tag--green"}) %}
        {% set link_href = "" %}
      {% endif %}
      {%
        do rows.append({
          "title": {"text": "Make the grant live", "classes": "govuk-link--no-visited-state"},
          "status": {"html": status_tag},
          "href": link_href,
        })
      %}
      {%
        do rows.append({
          "title": {"text": "Set up grant recipients", "classes": "govuk-link--no-visited-state"},
          "status": {"html": govukTag({"text": grant_recipients_count ~ (" grant recipient" if grant_recipients_count == 1 else " grant recipients"), "classes": "govuk-tag--blue"})},
          "href": url_for('reporting_lifecycle.set_up_grant_recipients', grant_id=grant.id, collection_id=collection.id),
        })
      %}

      {{ govukTaskList({ "idPrefix": "reporting-lifecycle", "items": rows }) }}
    </div>
  </div>
{% endblock %}
