{% extends "deliver_grant_funding/manage_grant_base.html" %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block pageTitle %}
  Setup a new collection - {{ grant.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("developers.grant_developers_schemas", grant_id = grant.id)
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="app-body__watermark" aria-hidden="true">Developers</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.grant_id }}
        {{ form.name (params={"label": {"isPageHeading": true, "classes": "govuk-label--l" }})
        }}
        {{
          form.submit(params={
              "text": "Set up schema"
          })
        }}
      </form>
    </div>
  </div>
{% endblock content %}
