{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% extends "deliver_grant_funding/manage_grant_base.html" %}

{% block pageTitle %}
  Edit section - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
      "text": "Back",
      "href": url_for("deliver_grant_funding.manage_section", grant_id=grant.id, schema_id=schema.id, section_id = section.id)
    })
  }}
{% endblock %}

{% block content %}
  <div class="app-body__watermark" aria-hidden="true">Scaffolding</div>
  <form method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.title (params={"label": {"isPageHeading": true, "classes": "govuk-label--l" }})}}
    {{ form.submit }}
  </form>
{% endblock %}
