{% extends "platform/manage_grant_base.html" %}
{% from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block pageTitle %}
  Edit form - {{ section.title }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}

{% block beforeContent %}
  {{
    govukBackLink({
        "text": "Back",
        "href": url_for("platform.manage_form", grant_id = grant.id, collection_id = collection.id, section_id=section.id, form_id=db_form.id, back_link="manage_section")
    })
  }}
{% endblock beforeContent %}

{% block content %}
  <div class="app-body__watermark" aria-hidden="true">Scaffolding</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.section_id }}
        {{
          form.title(params={"label": {
          "classes": "govuk-label--l",
          "isPageHeading": true
        }}
        ) }} {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock content %}
