{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/task-list/macro.html" import govukTaskList %}
{% extends "deliver_grant_funding/manage_grant_base.html" %}

{% block pageTitle %}
    {{ collection.name }}
    - {{ grant.name }} - MHCLG Funding Service
{% endblock pageTitle %}

{% set active_sub_navigation_tab = "grant_developers" %}
{% block beforeContent %}
    {{ govukBackLink({
        "text": "Back",
        "href": url_for("deliver_grant_funding.grant_developers_collections", grant_id = grant.id)
    }) }}
{% endblock beforeContent %}

{% block content %}
<div class="app-body__watermark" aria-hidden="true">Developers</div>
<h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ grant.name }}</span>
    {{ collection.name }}
</h1>
{% set sections_text %}
{% trans count=collection.sections | length %}
    {{ count }}
    section {% pluralize %}
    {{ count }}
    sections
{% endtrans %}
{% endset %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
        {{ govukSummaryList({
          "rows": [{
              "key": {"text": "Name"},
              "value":{"text": collection.name},
              "actions": {
                  "items": [
                      {
                        "href": url_for("deliver_grant_funding.edit_collection", grant_id = grant.id, collection_id = collection.id),
                        "text": "Change",
                        "classes": "govuk-link govuk-link--no-visited-state"
                      }
                  ]
              }
        },{
              "key": {"text": "Sections"},
              "value":{"text": sections_text},
              "actions": {
                  "items": [
                      {
                        "href": url_for("deliver_grant_funding.list_sections", grant_id = grant.id, collection_id = collection.id),
                        "text": "Manage",
                        "classes": "govuk-link govuk-link--no-visited-state"
                      }
                  ]
              }
        }]
        }) }}

        {% if not collection.sections %}
            <p class="govuk-body">
                This collection has no sections, you can
                <a class="govuk-link govuk-link--no-visited-state"
                   href="{{ url_for('deliver_grant_funding.add_section', grant_id = grant.id, collection_id = collection.id) }}">add
                    a section</a>
                .
            </p>
        {% endif %}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% for section in collection.sections %}
        <h2 class="govuk-heading-m">{{ section.title }}</h2>

        {% if not section.forms %}
            <p class="govuk-body">
                This section has no forms, you can
                <a class="govuk-link govuk-link--no-visited-state"
                   href="{{ url_for('deliver_grant_funding.add_form', grant_id = grant.id, collection_id = collection.id, section_id=section.id) }}">add
                    a form</a>
                .
            </p>
        {% endif %}

        {% set rows=[] %}
        {% for form in section.forms %}
        {% set question_text %}
        {% trans count=form.questions | length %}
            {{ count }}
            question {% pluralize %}
            {{ count }}
            questions
        {% endtrans %}
        {% endset %}
        {% do rows.append({
                  "title": {
                    "text": form.title,
                  },
                "status": {
                  "text": question_text
                },
              "href": url_for("deliver_grant_funding.manage_form", grant_id = grant.id, collection_id = collection.id, section_id = section.id, form_id=form.id, back_link="manage_collection")
            }) %}
        {% endfor %}

        {{ govukTaskList({
            "idPrefix": section.slug,
            "items": rows
          }) }}
        {% endfor %}
    </div>
</div>
{% endblock content %}
