{% from "govuk_frontend_jinja/components/panel/macro.html" import govukPanel %}
{% from "common/partials/mhclg-test-banner.html" import mhclgTestBanner %}
{% extends "developers/access/base.html" %}

{% set page_title = "Submission completed - " ~ submission_helper.name %}

{% block beforeContent %}
  {% if submission_helper.is_test %}
    {{ mhclgTestBanner("Test submission") }}
  {% endif %}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set reference_html %}
        Your reference number
        <br />
        <strong data-testid="submission-reference">{{ submission_helper.reference }}</strong>
      {% endset %}
      {{
        govukPanel({
          "titleText": "Submission completed",
          "html": reference_html
        })
      }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">We will review your submission and ask if we need more information.</p>

      <p class="govuk-body">
        You can
        <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.access.submission_tasklist', submission_id=submission_helper.id) }}">view your submission</a>
        at any time.
      </p>
    </div>
  </div>
{% endblock content %}
