{% extends "developers/access/base.html" %}

{% set page_title = "Grants" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Grants</h1>
      {% if grants %}
        <ul class="govuk-list">
          {% for grant in grants %}
            <li>
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('developers.access.grant_details', grant_id=grant.id) }}">{{ grant.name }}</a>
              </h2>
              <p class="govuk-body">{{ grant.description }}</p>
              <hr class="govuk-section-break--m" />
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="govuk-body">No grants available at the moment.</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
