@use "sass:color";
@use "govuk/base" as govuk with (
    $govuk-brand-colour: #912b88
);

.app-\!-align-vertically {
    display: inline-flex !important;
    align-items: center !important;
}

.app-header__content {
    @include govuk.govuk-media-query($from: desktop) {
        display: inline-flex !important;
        flex-direction: row-reverse;
        width: 50%;
    }
}

.app-header__logo {
    @include govuk.govuk-media-query($from: desktop) {
        width: 50%;
    }
}

.app-header__navigation {
    @include govuk.govuk-media-query($from: desktop) {
        padding-top: 18px !important;
    }
}

.app-header__navigation-item {
    border-bottom-color: color.adjust(
        govuk.$govuk-brand-colour,
        $lightness: -15%
    ) !important;

    a {
        font-weight: govuk.$govuk-font-weight-bold !important;
    }
}
