@use "govuk" with (
    $govuk-new-organisation-colours: true,
    $govuk-assets-path: "/static/assets/",
    $govuk-brand-colour: #00625e
);
@use "../../node_modules/accessible-autocomplete"; // TODO: replace with select-with-search
// TODO: import moj frontend to start using things from there, eg number components and sortable tables

@use "components/accessible-autocomplete-overrides";
@use "components/context-aware-editor";
@use "components/destructive-link";
@use "components/link-button";
@use "components/metadata";
@use "components/move-up-down-table";
@use "components/print-header";
@use "components/section";
@use "components/service-navigation";
@use "components/summary-list";
@use "components/test-data-banner";

@use "importants";
@use "tweaks"; // Tiny CSS snippets to tweak existing components, not worth treating as their own thing

@use "overrides";
