$brand-colour: #00625e;
$assets-path: "/static/assets/";
$new-organisation-colours: true;

@use "moj/settings/assets" with (
    $moj-assets-path: $assets-path
);

// This configures govuk/base for us, which @use components below will then reuse with the correct configuration.
@use "moj/vendor/govuk-frontend" with (
    $govuk-brand-colour: $brand-colour,
    $govuk-new-organisation-colours: $new-organisation-colours
);

@use "govuk" with (
    $govuk-new-organisation-colours: $new-organisation-colours,
    $govuk-assets-path: $assets-path,
    $govuk-brand-colour: $brand-colour
);

@use "moj/objects/scrollable-pane";
@use "moj/components/timeline/timeline";

@use "../../node_modules/accessible-autocomplete"; // TODO: replace with select-with-search
@use "components/accessible-autocomplete-overrides";
@use "components/context-aware-editor";
@use "components/destructive-link";
@use "components/link-button";
@use "components/metadata";
@use "components/move-up-down-table";
@use "components/print-header";
@use "components/section";
@use "components/service-navigation";
@use "components/summary-list";
@use "components/test-data-banner";

@use "importants";
@use "tweaks"; // Tiny CSS snippets to tweak existing components, not worth treating as their own thing

@use "overrides";
