{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "govuk_frontend_jinja/components/task-list/macro.html" import govukTaskList %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "common/macros/status.html" import status with context %}
{% from "common/partials/mhclg-test-banner.html" import mhclgStopTestingBanner %}

{% macro collection_before(runner, override_back_link=None) %}
  {% if runner.submission.is_test %}
    {{ mhclgStopTestingBanner(runner) }}
  {% endif %}
  {{ govukBackLink({ "text": "Back", "href": override_back_link or runner.back_url }) }}
{% endmacro %}

{% macro collection_question(runner) %}
  {% set is_group = runner.component.is_group %}
  {% set questions = runner.questions if is_group else [runner.component] %}
  {% set form = runner.question_form %}
  {% set questionAsPageHeading = not runner.component.guidance_heading and not is_group %}

  <form method="post" novalidate>
    {{ form.csrf_token }}

    <span class="govuk-caption-l">{{ runner.component.form.title }}</span>
    {% if runner.component.guidance_heading %}
      <h1 class="govuk-heading-l">{{ runner.component.guidance_heading }}</h1>
      {{ runner.component.guidance_body | govuk_markdown }}
    {% elif is_group %}
      <h1 class="govuk-heading-l">{{ runner.component.name }}</h1>
    {% endif %}

    {# https://github.com/alphagov/govuk-frontend/issues/1841 #}
    {# GOV.UK Frontend macros don't let you add captions to label/legend-headings that are outside of the <h> element #}
    {# We want the caption outside of the <h> element to keep things more concise and understandable to screenreader users #}
    {# So we just manually add the caption here. #}
    {% for question in questions %}
      {% if question.data_type == enum.question_type.TEXT_MULTI_LINE %}
        {{
          form.render_question(
            question,
            params={
              "label": {"classes": "govuk-label--l" if questionAsPageHeading else "govuk-!-font-weight-bold", "isPageHeading": questionAsPageHeading},
              "maxwords": question.presentation_options.word_limit,
              "rows": question.presentation_options.rows,
              "attributes": {"data-module": "paste-html-bullets-as-markdown"},
            }
          )
        }}
      {% elif question.data_type == enum.question_type.TEXT_SINGLE_LINE or question.data_type == enum.question_type.EMAIL or question.data_type == enum.question_type.URL %}
        {{
          form.render_question(
            question,
            params={
              "label": {"classes": "govuk-label--l" if questionAsPageHeading else "govuk-!-font-weight-bold", "isPageHeading": questionAsPageHeading}
            }
          )
        }}
      {% elif question.data_type == enum.question_type.INTEGER %}
        {{
          form.render_question(
            question,
            params={
              "label": {"classes": "govuk-label--l" if questionAsPageHeading else "govuk-!-font-weight-bold" ,"isPageHeading": questionAsPageHeading},
              "inputmode": "numeric",
              "spellcheck": false,
              "classes": question.presentation_options.width or '',
              "prefix": {"text": question.presentation_options.prefix or ''},
              "suffix": {"text": question.presentation_options.suffix or ''}
            }
          )
        }}
      {% elif question.data_type == enum.question_type.YES_NO %}
        {{
          form.render_question(
            question,
            params={
              "fieldset": {"legend": {"text": question.text, "classes": "govuk-fieldset__legend--l" if questionAsPageHeading else "govuk-!-font-weight-bold", "isPageHeading": questionAsPageHeading} },
              "classes": "govuk-radios--inline"
            }
          )
        }}
      {% elif question.data_type == enum.question_type.CHECKBOXES %}
        {{
          form.render_question(
            question,
            params={
              "fieldset": {"legend": {"text": question.text, "classes": "govuk-fieldset__legend--l" if questionAsPageHeading else "govuk-!-font-weight-bold", "isPageHeading": questionAsPageHeading} },
            }
          )
        }}
      {% elif question.data_type == enum.question_type.RADIOS %}
        {% if form.get_question_field(question).widget.is_accessible_autocomplete %}
          {#
            `govuk-!-width-full` override here to line up with the default width of the accessible autocomplete component. We could potentially do something smarter, like copy the class
            from here to the enhanced autocomplete, but leaving that for a future increment.
          #}
          {{
            form.render_question(
              question,
              params={
                "label": {"text": question.text, "classes": "govuk-fieldset__legend--l" if questionAsPageHeading else "govuk-!-font-weight-bold", "isPageHeading": questionAsPageHeading},
                "classes": "govuk-!-width-full"
              }
            )
          }}
        {% else %}
          {{
            form.render_question(
              question,
              params={
                "fieldset": {"legend": {"text": question.text, "classes": "govuk-fieldset__legend--l" if questionAsPageHeading else "govuk-!-font-weight-bold", "isPageHeading": questionAsPageHeading} },
              }
            )
          }}
        {% endif %}
      {% endif %}
    {% endfor %}
    {{ form.submit }}
  </form>
{% endmacro %}

{% macro collection_check_your_answers(runner) %}
  {% set form = runner.form %}
  {% set submission = runner.submission %}

  <span class="govuk-caption-l">{{ form.title }}</span>
  <h1 class="govuk-heading-l">{{ "Your submitted answers" if submission.is_completed else "Check your answers" }}</h1>

  {% set add_another_groups_registered = [] %}

  {% set rows = [] %}
  {% for question in submission.cached_get_ordered_visible_questions(form) %}

    {% if not question.parent or (question.parent.id not in add_another_groups_registered) %}

      {% set state = namespace(all_questions_answered=true) %}

      {# todo: strange workaround for deserialising returning a list - this will be a lot more uniform if the interface for get answer is uniformly used by simple lists and structured #}
      {# todo: we definitely want a utility that returns a one line text summary of a groups answer at an index #}
      {% set answer_value = submission.cached_get_answer_for_question(question.id) if not (question.parent and question.parent.add_another) else submission.get_count_group_total(question.parent.id) %}
      {% if answer_value is not none and not (question.parent and question.parent.add_another) or (question.parent and question.parent.add_another) and answer_value > 0 %}
        {% set value_html %}
          {# todo: this is a very temporary solution - we might want this to be done elsewhere as its used in CSV, JSON, etc. but maybe they do each need to do something unique #}
          {# todo: the behaviours here can likely be very similar between structured (groups) and unstructured lists #}
          {% if question.add_another %}
            <ul class="govuk-list govuk-list--number">
              {# {% for key, answer in answer_value %} #}
              {% for answer in answer_value %}
                <li>{% include answer._render_answer_template %}</li>
              {% endfor %}
            </ul>
          {% elif question.parent and question.parent.add_another %}
            {% do add_another_groups_registered.append(question.parent.id) %}

            <ul class="govuk-list govuk-list--number">
              {# we need to loop through the number of answers we have for the group and then for each question in the group get the answer at that index #}
              {% for i in range(0, submission.get_count_group_total(question.parent.id)) %}
                {% set answers = [] %}
                {% for q in question.parent.cached_questions %}
                  {% set answer = runner.submission.cached_get_answer_for_question(q.id, add_another_group_id=question.parent.id, add_another_index=i) %}
                  {% if answer %}
                    {% do answers.append(answer.get_value_for_text_export()) %}
                  {% else %}
                    {% set state.all_questions_answered = false %}
                  {% endif %}
                {% endfor %}

                <li>{{ answers | join(", ") }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {% set answer = answer_value %}
            {% include answer._render_answer_template %}
          {% endif %}
        {% endset %}

        {# todo: can we "anchor" or link to the specific question if we're going to be changing a question on a same page group #}
        {%
          set actions = (
          []
          if submission.is_completed else
          [
            {
              "href": runner.to_url(enum.form_runner_state.QUESTION, question=question, source=enum.form_runner_state.CHECK_YOUR_ANSWERS),
              "text": "Change",
              "visuallyHiddenText": question.name
            }
          ]
          )
        %}

        {% if not state.all_questions_answered %}
          {% set value_html %}
            <a href="{{ runner.to_url(enum.form_runner_state.QUESTION, question=question, source=enum.form_runner_state.CHECK_YOUR_ANSWERS) }}" class="govuk-link govuk-link--no-visited-state"
              >Finish entering {{ question.name if not (question.parent and question.parent.add_another) else question.parent.name | lower }}</a
            >
          {% endset %}
        {% endif %}
        {%
          do rows.append({
            "key": {"text": question.text if not (question.parent and question.parent.add_another) else question.parent.name},
            "value": {"html": value_html},
            "actions": {"items": actions if state.all_questions_answered else [] },
          })
        %}
      {% else %}

        {% if question.parent and question.parent.add_another %}
          {% do add_another_groups_registered.append(question.parent.id) %}
        {% endif %}
        {% set valueLink %}
          <a href="{{ runner.to_url(enum.form_runner_state.QUESTION, question=question, source=enum.form_runner_state.CHECK_YOUR_ANSWERS) }}" class="govuk-link govuk-link--no-visited-state"
            >Enter {{ question.name if not (question.parent and question.parent.add_another) else question.parent.name | lower }}</a
          >
        {% endset %}
        {%
          do rows.append({
            "key": {"text": question.text if not (question.parent and question.parent.add_another) else question.parent.name},
            "value": {"html": valueLink}
          })
        %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {{
    govukSummaryList({
      "classes": "govuk-!-margin-bottom-9",
      "rows": rows
    })
  }}

  {% if submission.is_completed %}
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ runner.to_url(enum.form_runner_state.TASKLIST) }}">Return to the task list</a>
    </p>
  {% else %}
    {% set check_your_answers_form = runner.check_your_answers_form %}
    <form method="post" novalidate>
      {{ check_your_answers_form.csrf_token }}
      {% set all_questions_answered, _ = submission.cached_get_all_questions_are_answered_for_form(form) %}
      {% if all_questions_answered %}
        {{
          check_your_answers_form.section_completed(params={
            "fieldset": {
              "legend": {
                "text": "Have you completed this task?",
                "isPageHeading": false,
                "classes": "govuk-fieldset__legend--m"
              }
            }
          })
        }}
      {% endif %}
      {{ check_your_answers_form.submit }}
    </form>
  {% endif %}
{% endmacro %}

{% macro collection_tasklist(runner) %}
  {% set submission = runner.submission %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set forms = submission.get_ordered_visible_forms() %}
      {% if not forms %}
        <p class="govuk-body">This collection has no forms.</p>
      {% else %}
        {% set rows=[] %}
        {% for form in forms %}
          {% set first_question = submission.get_first_question_for_form(form) %}
          {%
            set link_href = (
              ''
              if not first_question else
              runner.to_url(enum.form_runner_state.QUESTION, question=first_question)
              if submission.get_status_for_form(form) == enum.submission_status.NOT_STARTED else
              runner.to_url(enum.form_runner_state.CHECK_YOUR_ANSWERS, form=form, source=enum.form_runner_state.TASKLIST)
            )
          %}
          {%
            do rows.append({
              "title": {
                "text": form.title,
              },
              "status": {
                "html": status(submission.get_tasklist_status_for_form(form)) ,
              },
              "href": link_href,
            })
          %}
        {% endfor %}

        {{
          govukTaskList({
            "idPrefix": submission.collection.slug,
            "items": rows
          })
        }}
      {% endif %}
    </div>
  </div>
  {% if not submission.is_completed %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if not submission.all_forms_are_completed %}
          <p class="govuk-body">You must complete all tasks before you can submit.</p>
        {% endif %}
        <form method="post" novalidate>
          {{ runner.tasklist_form.csrf_token }}

          {{
            runner.tasklist_form.submit(params={
              "text": "Submit",
              "disabled": not submission.all_forms_are_completed
            })
          }}
        </form>
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro check_add_another(runner) %}
{% endmacro %}
