{% from "govuk_frontend_jinja/components/tag/macro.html" import govukTag %}

{% macro tasklistSectionStatusTag(status) %}
  {% set show_without_tag = [ enum.tasklist_section_status.COMPLETED ] %}
  {%
    set classMap = {
        enum.tasklist_section_status.NOT_STARTED: "govuk-tag--grey",
        enum.tasklist_section_status.IN_PROGRESS: "govuk-tag--light-blue",
        enum.tasklist_section_status.COMPLETED: "govuk-tag--green",
        enum.tasklist_section_status.NO_QUESTIONS: "govuk-tag--red",
    }
  %}
  {% if status in show_without_tag %}
    {{ status }}
  {% else %}
    {{ govukTag({"text": status, "classes": classMap[status] }) }}
  {% endif %}
{% endmacro %}

{% macro grantStatusTag(status) %}
  {%
    set classMap = {
        enum.grant_status.DRAFT: "govuk-tag--yellow",
        enum.grant_status.ONBOARDING: "govuk-tag--yellow",
        enum.grant_status.LIVE: "govuk-tag--green",
    }
  %}
  {{ govukTag({"text": status | title, "classes": classMap[status] }) }}
{% endmacro %}

{% macro grantStatusDescription(grant) %}
  {% if grant.status == enum.grant_status.DRAFT %}
    Reports cannot be published until the grant is live.
  {% elif grant.status == enum.grant_status.LIVE and grant.reports | selectattr('status', 'equalto', enum.collection_status.OPEN) | list | length == 0 %}
    There are no reports live.
  {% endif %}
{% endmacro %}

{% macro reportStatusTag(status) %}
  {%
    set classMap = {
        enum.collection_status.DRAFT: "govuk-tag--yellow",
        enum.collection_status.SCHEDULED: "govuk-tag--blue",
        enum.collection_status.OPEN: "govuk-tag--green",
        enum.collection_status.CLOSED: "govuk-tag--grey",
    }
  %}
  {{ govukTag({"text": status, "classes": classMap[status] }) }}
{% endmacro %}

{% macro submissionStatusTag(status) %}
  {% set show_without_tag = [ enum.submission_status.SUBMITTED ] %}
  {%
    set classMap = {
        enum.submission_status.NOT_STARTED: "govuk-tag--grey",
        enum.submission_status.IN_PROGRESS: "govuk-tag--light-blue",
        enum.submission_status.READY_TO_SUBMIT: "govuk-tag--blue",
        enum.submission_status.AWAITING_SIGN_OFF: "govuk-tag--purple",
        enum.submission_status.OVERDUE: "govuk-tag--yellow",
    }
  %}
  {% if status in show_without_tag %}
    {{ status }}
  {% else %}
    {{ govukTag({"text": status, "classes": "app-status-tag " ~ classMap[status] }) }}
  {% endif %}
{% endmacro %}

{% macro submissionStatusAction(status) %}
  {%
    set textMap = {
        enum.submission_status.NOT_STARTED: "Start report",
        enum.submission_status.IN_PROGRESS: "Continue report",
        enum.submission_status.READY_TO_SUBMIT: "View report",
        enum.submission_status.AWAITING_SIGN_OFF: "View report",
        enum.submission_status.SUBMITTED: "View report",
    }
  %}
  {{ textMap[status] }}
{% endmacro %}
