{% macro timeline(timeline_items) %}
  <div class="moj-timeline">
    {% for item in timeline_items %}
      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">{{ item.title }}</h2>
          <p class="moj-timeline__byline">by {{ item.byline }}</p>
        </div>
        <p class="moj-timeline__date">
          <time datetime="{{ iso_utc(item.datetime) }}">{{ format_datetime_short(item.datetime) }}</time>
        </p>
        {% if item.description %}
          <div class="moj-timeline__description">
            {% if item.summary %}
              <details class="govuk-details govuk-!-margin-bottom-0">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">{{ item.summary }}</span>
                </summary>
                <div class="govuk-details__text">{{ item.description }}</div>
              </details>
            {% else %}
              {{ item.description }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endmacro %}
