name: 'Run Database Migrations'
description: 'Composite Action to run Database Migration script'
runs:
  using: "composite"
  steps:
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
      with:
        python-version: 3.13.7

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7
      with:
        enable-cache: true

    - name: Install dependencies
      shell: bash
      run: uv sync

    - name: Run Database Migrations
      shell: bash
      run: |
        uv run scripts/run-ad-hoc-task.py --command "flask db upgrade"
