{% extends "access_grant_funding/base.html" %}

{% set active_item_identifier = "team" %}

{% set page_title = "Add team member details" %}

{% set return_link = url_for("access_grant_funding.list_grant_team", organisation_id=organisation.id, grant_id=grant_recipient.grant.id) %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ page_title }}</h1>
      <p class="govuk-body">This team member will be able to edit and submit reports and forms for {{ grant_recipient.grant.name }}.</p>
      <p class="govuk-body">
        To add a certifier, contact our
        <a class="govuk-link govuk-link--no-visited-state" href="{{ service_desk_url }}" target="_blank">support desk (opens in new tab)</a>.
      </p>
      <form method="POST" novalidate>
        {{ form.csrf_token }}

        {{ form.full_name }}
        {{ form.email_address }}

        <div class="govuk-button-group">
          {{ form.submit }}

          <a class="govuk-link govuk-link--no-visited-state" href="{{ return_link }}" target="_blank">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
