{% extends "common/base.html" %}
{% from "common/partials/mhclg-header.html" import mhclgHeader %}
{% from "common/macros/navigation.html" import accessGrantFundingServiceNavigation %}
{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter %}
{% from "common/partials/mhclg-test-banner.html" import mhclgTestBanner %}

{% set nav_items = nav_items or [] %}
{% set right_nav_items = right_nav_items or [] %}

{% block pageTitle %}{{ page_title }} - {{ super() }}{% endblock pageTitle %}

{% block header %}
  {{
    mhclgHeader(
      params={
        "homepageUrl": "#",
        "assetPath": assetPath,
        "productName": "MHCLG Access grant funding",
        "isAccess": true
      },
      currentUser=current_user,
    )
  }}

  {% if current_user.is_authenticated %}
    {% if grant_recipient %}
      {%
        set nav_items = [
            { "text": "Reports", "href": url_for("access_grant_funding.list_reports", organisation_id=grant_recipient.organisation.id, grant_id=grant_recipient.grant.id), "active": active_item_identifier == "reports" },
            { "text": "Team", "href": url_for("access_grant_funding.list_grant_team", organisation_id=grant_recipient.organisation.id, grant_id=grant_recipient.grant.id), "active": active_item_identifier == "team" },
        ]
      %}
    {% else %}
      {% set nav_items = [] %}
    {% endif %}
    {{ accessGrantFundingServiceNavigation(current_user, nav_items, grant_recipient=grant_recipient, organisation=organisation if not grant_recipient else None) }}
  {% endif %}
{% endblock header %}

{% block beforeContent %}
  {% if is_deliver_user_testing %}
    {{ mhclgTestBanner("Testing grant recipient journey") }}
  {% endif %}
  {{ super() }}
{% endblock beforeContent %}

{% block footer %}
  {{
    govukFooter({
      "meta": {
        "items": [
          {
            "href": config.ACCESS_SERVICE_DESK_URL,
            "text": "Contact us"
          }
        ]
      }
    })
  }}
{% endblock footer %}
