{% extends "access_grant_funding/base.html" %}

{% set page_title = "Privacy notice" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Privacy notice</h1>

      <h2 class="govuk-heading-l">Access grant funding</h2>

      <dl class="app-medatadata app-metadata--last-updated">
        <dt class="app-metadata__key--last-updated">Last updated:</dt>
        <dd class="app-metadata__value">30 September 2026</dd>
      </dl>

      <p class="govuk-body">The following is to explain your rights and give you the information you are entitled to under UK data protection legislation.</p>

      <h3 class="govuk-heading-m">The identity and contact details of the Ministry of Housing, Communities and Local Government (MHCLG) and our Data Protection Officer</h3>

      <p class="govuk-body">MHCLG is the data controller. The Data Protection Officer can be contacted at <a class="govuk-link" href="mailto:dpo@communities.gov.uk">dpo@communities.gov.uk</a></p>

      <h3 class="govuk-heading-m">What personal data we are collecting and why</h3>

      <p class="govuk-body">
        Your personal data is being collected to manage and support your access and use of the Funding Service’s digital services (Access grant funding or Deliver grant funding). We will use your data to send you email notifications about
        your account access and grant activity.
      </p>

      <p class="govuk-body">The following personal data is being collected for this purpose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name</li>
        <li>your email address</li>
      </ul>
      <p class="govuk-body">We may also use it to contact you about issues with the service affecting you.</p>

      <h3 class="govuk-heading-m">Lawful basis for processing the data</h3>

      <p class="govuk-body">
        The data protection legislation sets out when we are lawfully allowed to process your data. The lawful basis that applies to this processing is that it is necessary for the performance of a task carried out in the public interest.
      </p>

      <p class="govuk-body">Alternatively, processing may fall under one of the following where it is reasonably “necessary” for this reason:</p>

      <p class="govuk-body">Contract: the processing is necessary for a contract we have with you, or because you have asked us to take specific steps before entering into a contract</p>

      <p class="govuk-body">Legal obligation: the processing is necessary for us to comply with the law (not including contractual obligations)</p>

      <p class="govuk-body">Legitimate interests: the processing is necessary to meet MHCLG’s interests as data controller</p>

      <p class="govuk-body">Consent: you have given (or will be giving) clear consent for us to process your personal data for this purpose</p>

      <h3 class="govuk-heading-m">With whom we will be sharing the data</h3>
      <p class="govuk-body">We share data with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Amazon Web Services</li>
        <li>Google Analytics</li>
        <li>Sentry</li>
        <li>GOV.UK Notify</li>
        <li>Microsoft Azure</li>
        <li>JIRA Service Desk</li>
        <li>Slack</li>
      </ul>

      <h3 class="govuk-heading-m">For how long we will keep the personal data, or criteria used to determine the retention period</h3>
      <p class="govuk-body">
        Personal data will be retained for up to 7 years from the closure of a grant, in line with the department’s retention requirements. At the end of this period, records will be securely deleted unless there is a legal, audit,
        investigation, or business reason to retain them for longer.
      </p>

      <h3 class="govuk-heading-m">Your rights, e.g. access, rectification, erasure</h3>
      <p class="govuk-body">The data we are collecting is your personal data, and you have rights that affect what happens to it. You have the right to:</p>

      <ol class="govuk-list govuk-list--number app-list-lower-alpha">
        <li>know that we are using your personal data</li>
        <li>see what data we have about you</li>
        <li>ask to have your data corrected, and to ask how we check the information we hold is accurate</li>
        <li>complain to the ICO (see below)</li>
      </ol>

      <p class="govuk-body">
        In some circumstances you may also have the right to withdraw your consent to us having or using your data, to have all data about you deleted, or to object to particularly types of use of your data. We will tell you when these
        rights apply.
      </p>

      <h3 class="govuk-heading-m">Sending data overseas</h3>

      <p class="govuk-body">We use 2 services that operate outside the UK:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Sentry, an error-monitoring tool, for the purpose of debugging - this is hosted in the EU and receives users' name and email address</li>
        <li>CloudFront, an AWS service, is configured to serve traffic from edge locations outside the UK</li>
      </ul>

      <h3 class="govuk-heading-m">Automated decision making</h3>
      <p class="govuk-body">We will not use your data for any automated decision making.</p>

      <h3 class="govuk-heading-m">Storage, security and data management</h3>
      <p class="govuk-body">
        The official record will be held in the department’s approved secure system. Where personal data is held in supporting systems, such as service desk, notification, analytics or monitoring tools, it will be managed in line with
        agreed retention and deletion requirements.
      </p>

      <h3 class="govuk-heading-m">Complaints and more information</h3>

      <p class="govuk-body">When we ask you for information, we will keep to the law, including the UK General Data Protection Regulation and Data Protection Act 2018.</p>

      <p class="govuk-body">
        If you are unhappy with the way the Department has acted,
        <a class="govuk-link" href="https://www.gov.uk/government/organisations/ministry-of-housing-communities-local-government/about/complaints-procedure">you can make a complaint</a>.
      </p>

      <p class="govuk-body">
        If you want to make a request to access your data, or another request in relation to your rights, or if you are not happy with how we are using your personal data, you can contact
        <a class="govuk-link" href="mailto:dataprotection@communities.gov.uk">dataprotection@communities.gov.uk</a>
      </p>

      <p class="govuk-body">
        If you still have a concern about the way in which MHCLG has handled your personal data, you can contact the Information Commissioner’s Office to make a complaint using their website service or by telephoning 0203 123 1113.
      </p>

      <p class="govuk-body">Further information about your data protection rights can also be found on the <a class="govuk-link" href="https://ico.org.uk/">Commissioner’s website</a>.</p>

      <h3 class="govuk-heading-m">Changes to this policy</h3>

      <p class="govuk-body">We may change this privacy policy. In that case, the ‘last updated’ date at the top of the page will also change. Any changes to this privacy policy will apply to you and your data immediately.</p>
      <p class="govuk-body">If these changes affect how your personal data is processed, MHCLG will take reasonable steps to let you know.</p>

      {% if grant and grant.privacy_policy_markdown %}
        <h2 class="govuk-heading-l">{{ grant.name }}</h2>

        <p class="govuk-body">This privacy policy applies to data collected for {{ grant.name }}.</p>

        {{ privacy_policy_renderer(grant.privacy_policy_markdown) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
