{% extends "access_grant_funding/base.html" %}

{% block pageTitle %}Privacy policies {{ super() }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Privacy policies</h1>

      <h2 class="govuk-heading-l">Access grant funding</h2>

      <p class="govuk-body">
        This privacy policy applies to your data when using
        <a class="govuk-link govuk-link--no-visited-state" href="https://funding.communities.gov.uk/access">Access grant funding</a>.
      </p>

      {% if grant %}
        <h2 class="govuk-heading-l">{{ grant.name }}</h2>

        <p class="govuk-body">This privacy policy applies to data collected for {{ grant.name }}.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
