{% extends "access_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}
{% from "common/macros/collections.html" import collection_question_with_add_another_summary_page with context %}
{% from "common/macros/ask-a-question-error-summary.html" import formRunnerErrorSummary with context %}

{% set page_title = runner.interpolate(runner.component.text) ~ " - " ~ grant.name %}

{% set form = runner.question_with_add_another_summary_form %}
{% set previous_question = runner.submission.get_previous_question(runner.linked_question.id) %}

{% block beforeContent %}
  {% if previous_question %}
    {{ govukBackLink({ "text": "Back", "href": runner.back_url }) }}
  {% endif %}
{% endblock beforeContent %}

{% block errorSummary %}
  {{ formRunnerErrorSummary(form, runner) }}
{% endblock errorSummary %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">{{ collection_question_with_add_another_summary_page(runner) }}</div>
  </div>
{% endblock content %}
