{% extends "access_grant_funding/base.html" %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "common/macros/status.html" import submissionStatusTag with context %}
{% from "common/macros/status.html" import submissionStatusAction with context %}
{% from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

{% set page_title = "Reports" %}
{% set active_item_identifier = "reports" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% with flashes = get_flashed_messages(category_filter=[enum.flash_message_type.SUBMISSION_SIGN_OFF_DECLINED]) %}
        {% if flashes %}
          {% set submission_declined_html %}
            <h3 class="govuk-notification-banner__heading">Report declined</h3>
            <p class="govuk-body">
              {{ flashes[0]["collection_name"] }} report for {{ flashes[0]["grant_name"] }} sign off declined and sent back to {{ flashes[0]["sent_for_certification_by"] }}.
              <a
                class="govuk-notification-banner__link"
                href="{{ url_for('access_grant_funding.route_to_submission', grant_id=grant_recipient.grant_id, organisation_id=grant_recipient.organisation_id,collection_id=flashes[0]["collection_id"]) }}">
                View report
              </a>
            </p>
          {% endset %}
          {{
            govukNotificationBanner({
              "html": submission_declined_html,
              "type":"success",
              "titleText": "Confirmed"
            })
          }}
        {% endif %}
      {% endwith %}
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Reports</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if reports|length == 0 %}
        <p class="govuk-body">There are no reports for this grant.</p>
      {% else %}
        {% set rows=[] %}
        {% for report in reports %}
          {% set report_name = report.name or (format_date_range_short(report.reporting_period_start_date, report.reporting_period_end_date) if (report.reporting_period_start_date and report.reporting_period_end_date) else "Dates to be confirmed") %}
          {% set submission = submissions | selectattr("collection_id", "equalto", report.id) | first %}
          {% set submission_status = submission.status if submission else enum.submission_status.NOT_STARTED %}
          {% set submission_status_html %}
            {{ submissionStatusTag(submission_status, submission.is_overdue if submission else report.is_overdue) }}
          {% endset %}
          {% set report_action_html %}
            <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('access_grant_funding.route_to_submission', organisation_id=grant_recipient.organisation.id, grant_id=grant_recipient.grant.id, collection_id=report.id) }}">
              {{ submissionStatusAction(submission_status) }}
              <span class="govuk-visually-hidden"> for {{ report_name }} </span>
            </a>
          {% endset %}
          {# todo: standardise this behaviour everywhere by adding this logic as a property on the model if its signed off #}
          {%
            do rows.append([
              {"text": report_name},
              {"text": format_date_short(report.submission_period_end_date) if report.submission_period_end_date else "Dates to be confirmed"}, {"html": submission_status_html},
              {"html": report_action_html}
            ])
          %}
        {% endfor %}
        {% set actions_html %}
          <span class="govuk-visually-hidden">Actions</span>
        {% endset %}
        {{
          govukTable(params={
                  "firstCellIsHeader": false,
                  "head":[
                    {"text": "Report"},
                    {"text": "Due date"},
                    {"text": "Status"},
                    {"html": actions_html}
                  ],
                  "rows":rows
          })
        }}
      {% endif %}
    </div>
  </div>
{% endblock %}
