{% extends "access_grant_funding/base.html" %}
{% from "common/macros/submissions.html" import answers_summary_list with context %}
{% from "common/macros/status.html" import submissionStatusTag with context %}

{% set page_title = submission.name %}

{% set assetPath = vite_asset("assets", external=True) %}
{% set logo_href = vite_asset('assets/images/govuk-crest.svg', external=True) %}

{% set show_section_numbers = false %}

{% block head %}
  {# give more time for the heaviest asset to load by starting the request right away #}
  {# if we're using a singleton browser module we can take advantage of caching but this would #}
  {# still kick in on the first requests #}
  <link rel="preload" as="image" href="{{ logo_href }}" fetchpriority="high" />
  <link rel="stylesheet" href="{{ vite_asset('app/assets/main.scss', external=True) }}" type="text/css" />
  <style>
    .govuk-template {
      background-color: white;
    }
    @page {
      margin-bottom: 1cm;
      @bottom-left {
        margin-left: 0.7cm;
        content: "Page " counter(page) " of " counter(pages);
      }

      margin-top: 1cm;
      @top-left {
        margin-left: 0.7cm;
        content: "{{ submission.collection.grant.name }} - {{ submission.collection.name }}";
      }
    }
  </style>
{% endblock head %}

{% block header %}
  <div class="app-print-header">
    <div class="app-print-header-logo">
      <img src="{{ logo_href }}" alt="MHCLG Crest" width="64" height="64" nonce="{{ csp_nonce() }}" />
      <br />
      <span class="govuk-heading-l govuk-!-margin-bottom-0">Ministry of Housing,</span>
      <br />
      <span class="govuk-heading-l govuk-!-margin-bottom-0">Communities &</span>
      <br />
      <span class="govuk-heading-l govuk-!-margin-bottom-0">Local Government</span>
    </div>
  </div>
{% endblock header %}
{% block beforeContent %}
{% endblock beforeContent %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {# exception for xl heading where we'd anticipate having many subheadings and levels of heirarchy on this page #}
      <h1 id="submission" class="govuk-heading-xl">{{ page_title }}</h1>

      <div class="govuk-!-margin-bottom-9">
        <dl class="app-metadata">
          <dt class="app-metadata__key">Organisation:</dt>
          <dd class="app-metadata__value">{{ submission.submission.grant_recipient.organisation.name }}</dd>
        </dl>
        <dl class="app-metadata">
          <dt class="app-metadata__key">Grant:</dt>
          <dd class="app-metadata__value">{{ submission.collection.grant.name }}</dd>
        </dl>
        {% if submission.collection.reporting_period_start_date and submission.collection.reporting_period_end_date %}
          <dl class="app-metadata">
            <dt class="app-metadata__key">Reporting period:</dt>
            <dd class="app-metadata__value">{{ format_date_range(submission.collection.reporting_period_start_date, submission.collection.reporting_period_end_date) }}</dd>
          </dl>
        {% endif %}
        <dl class="app-metadata">
          <dt class="app-metadata__key">Submission deadline:</dt>
          <dd class="app-metadata__value">{{ format_date(submission.collection.submission_period_end_date) }}</dd>
        </dl>
        <dl class="app-metadata">
          <dt class="app-metadata__key">Status:</dt>
          <dd class="app-metadata__value">{{ submissionStatusTag(submission.status) }}</dd>
        </dl>
        {% if submission.sent_for_certification_by %}
          <dl class="app-metadata">
            <dt class="app-metadata__key">Submitted for sign off by:</dt>
            <dd class="app-metadata__value">{{ submission.sent_for_certification_by.name }}</dd>
          </dl>
        {% elif submission.submitted_by %}
          <dl class="app-metadata">
            <dt class="app-metadata__key">Submitted by:</dt>
            <dd class="app-metadata__value">{{ submission.submitted_by.name }}</dd>
          </dl>
        {% endif %}
        {% if submission.submitted_at_utc or submission.sent_for_certification_at_utc %}
          <dl class="app-metadata">
            <dt class="app-metadata__key">Date submitted:</dt>
            <dd class="app-metadata__value">{{ format_date(submission.submitted_at_utc or submission.sent_for_certification_at_utc) }}</dd>
          </dl>
        {% endif %}
        {% if submission.certified_by %}
          <dl class="app-metadata">
            <dt class="app-metadata__key">Certifier:</dt>
            <dd class="app-metadata__value">{{ submission.certified_by.name }}</dd>
          </dl>
          <dl class="app-metadata">
            <dt class="app-metadata__key">Date certified:</dt>
            <dd class="app-metadata__value">{{ format_date(submission.certified_at_utc) }}</dd>
          </dl>
        {% endif %}
      </div>

      <div class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-m">Report sections</h2>
        <ul class="{{ 'govuk-list' ~ (' govuk-list--number' if show_section_numbers else '') }}">
          {% for form in submission.get_ordered_visible_forms() %}
            <li><a class="govuk-link govuk-link--no-visited-state" href="#form-{{ form.id }}">{{ form.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      {% for form in submission.get_ordered_visible_forms() %}
        <div class="app-dont-page-break">
          <h2 id="form-{{ form.id }}" class="govuk-heading-m govuk-!-margin-top-6">{{ (loop.index ~ ". ") if show_section_numbers else "" }}{{ form.title }}</h2>
          {{ answers_summary_list(submission, form) }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock footer %}
